<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-startup-image" href="images/loading.png" />
	<link rel="apple-touch-icon" href="images/icon.png"/>
    <title>{% block title %}Pregnancy &amp; Birth{% endblock %}</title>
	
	<link rel="stylesheet" href="hesperian_mobile.css" />
	<script src="hesperian_mobile.js"></script>
	{% endblock %}
</head>

  
<body>
{% block body %}  
<!-- {% block id %}{% endblock %} -->
<div data-role="page" id="{{ self.id() }}">
	{% block header %}
	<div data-role="header" data-backbtn="false" data-theme="b">
		<h1>{% block headertitle %}Pregnancy and Birth{% endblock %}</h1>
	</div>
	{% endblock %}

	<!-- content -->	
	<div data-role="content">
		{% block content %}{% endblock %}	
	</div><!-- /content -->
	{% block footer %}{% endblock %}
</div><!-- /{{ self.id() }} -->
<div id="hm-keepreading">more &darr;</div>
{% endblock %}
</body>
</html>
