<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

    <title>{% block title %}Saving Mothers' Lives{% endblock %}</title>
	
	<link rel="stylesheet" href="hesperian_mobile.css" />
	<script src="hesperian_mobile.js"></script>
	{% endblock %}
</head>

  
<body>
{% block body %}  
<!-- {% block id %}{% endblock %} -->
<div data-role="page" id="{{ self.id() }}" data-theme="b">
	{% block header %}
	<div data-role="header">
		<a href="" class="ui-btn-left" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>{% block headertitle %}Safe Pregnancy &amp; Birth{% endblock %}</h1>
		<a href="index.html" class="ui-btn-right hm-circle" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a> 
{% include 'templates.jinja/base.page.navbar.html' %}
	</div>
	{% endblock %}

	<!-- content -->	
	<div data-role="content">
		{% block content %}{% endblock %}	
	</div><!-- /content -->
	{% block footer %}{% endblock %}
</div><!-- /{{ self.id() }} -->
{% endblock %}
</body>
</html>
