<!DOCTYPE html>
<html manifest="cache.manifest">
{% include 'templates.jinja/base.head.html' %}

<body>
{% block body %}  
<!-- {% block id %}{% endblock %} -->
<div data-role="page" id="{{ self.id() }}" data-theme="b" swipe="true" class="hm-swipe">
	{% block header %}
	<div data-role="header">
		<a href="" class="ui-btn-left" data-icon="arrow-l" data-rel="back">Back</a>
		<h1><a href="index.html" rel="external" data-role="button" data-direction="reverse" class="hm-home">{% block headertitle %}Saving Mothers' Lives{% endblock %}</a></h1>
{% include 'templates.jinja/base.page.navbar.html' %}
		
	</div>
	{%- set seq_length = seq_length %}  ##re-assign variables or they arent passed to included templates, possible bug
	{%- set seq_position = seq_position %}
	{%- set seq_rlink = seq_rlink %}
	{%- set seq_llink = seq_llink %}
	{%- set pagetitle = pagetitle %}
{% include 'templates.jinja/base.page.sequence.html' with context %}
	{% endblock %}

	<!-- content -->	
	<div data-role="content">
		{% block content %}{% endblock %}	
	</div><!-- /content -->
	{%- set seq_length = seq_length %}  ##re-assign variables or they arent passed to included templates, possible bug
	{%- set seq_position = seq_position %}
	{%- set seq_rlink = seq_rlink %}
	{%- set seq_llink = seq_llink %}
	{%- set pagetitle = pagetitle %}
{% include 'templates.jinja/base.page.sequence-bottom.html' with context %}
	{% block footer %}{% endblock %}
</div><!-- /{{ self.id() }} -->
{% endblock %}
</body>
</html>
