<!DOCTYPE html>
<html manifest="cache.manifest">
{% include 'templates.jinja/base.head.html' %}

<body>
{% block body %}  
<!-- {% block id %}{% endblock %} -->
<div data-role="page" id="{{ self.id() }}">
	{% block header %}
	<div data-role="header" data-backbtn="false" data-theme="b">
		<h1>{% block headertitle %}Pregnancy and Birth{% endblock %}</h1>
	</div>
	{% endblock %}

	<!-- content -->	
	<div data-role="content">
		{% block content %}{% endblock %}	
	</div><!-- /content -->
	{% block footer %}{% endblock %}
</div><!-- /{{ self.id() }} -->
<div id="hm-keepreading">more &darr;</div>
{% endblock %}
</body>
</html>
