<!DOCTYPE html>
<html manifest="cache.manifest">
{% include 'templates.jinja/base.head.html' %}

  
<body>
{% block body %}  
<!-- {% block id %}{% endblock %} -->
<div data-role="page" id="{{ self.id() }}" data-theme="b">
	{% block header %}
	<div data-role="header" data-theme="b">
		<a href="" class="ui-btn-left" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>{% block headertitle %}Safe Pregnancy &amp; Birth{% endblock %}</h1>
		<a href="index.html" class="ui-btn-right hm-circle" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a> 
	</div>
{% include 'templates.jinja/base.page.navbar.html' %}
	{% endblock %}

	<!-- content -->	
	<div data-role="content">
		{% block content %}{% endblock %}	
	</div><!-- /content -->
	{% block footer %}{% endblock %}
</div><!-- /{{ self.id() }} -->
{% endblock %}
</body>
</html>
