<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
	{% block head %}
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{% block title %}Pregnancy &amp; Birth{% endblock %}</title>
	
	<link rel="stylesheet" href="hesperian_mobile.css" />
	<script src="hesperian_mobile.js"></script>
	{% endblock %}
</head>

<body>
{% block body %}  
<!-- {% block id %}{% endblock %} -->
<div data-role="page" id="{{ self.id() }}">
	{% block header %}
	<div data-role="header">
		<a href="" class="ui-btn-left" data-icon="arrow-l" data-rel="back">Back</a>
		<h1>{% block headertitle %}Pregnancy &amp; Birth{% endblock %}</h1>
		<a href="index.html" class="ui-btn-right" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
{% include 'templates.jinja/base.page.navbar.html' %}
		
	</div>
	{%- set seq_length = seq_length %}  ##re-assign variables or they arent passed to included templates, possible bug
	{%- set seq_position = seq_position %}
	{%- set seq_rlink = seq_rlink %}
	{%- set seq_llink = seq_llink %}
	{%- set pagetitle = pagetitle %}
{% include 'templates.jinja/base.page.sequence.html' with context %}
	{% endblock %}

	<!-- content -->	
	<div data-role="content">
		{% block content %}{% endblock %}	
	</div><!-- /content -->
	{% block footer %}{% endblock %}
</div><!-- /{{ self.id() }} -->
{% endblock %}
</body>
</html>
