{% extends "templates.jinja/base.about.html" %}
{% block title %}Safe Pregnancy and Birth{% endblock %}

{% block id %}about{% endblock %}
		{% block content %}
		<h2>Safe Pregnancy and Birth<br>Version <span class="app-version">1.0.1</span></h2>
		<p>This app is a collaboration between Hesperian and UnaMesa.</p>
		<div class="about-box about-hm">
			<img src="images/hesperian_logo.png" style="width:102px;height:40px"/>
			<p>Hesperian  Health Guides is a non-profit publisher of books, newsletters and online resources for community-based health care.</p>
			<p>Visit Hesperian's <a href="http://www.hesperian.org" rel="external" target="_blank" class="external-site">digital commons</a> for more great resources.</p>
		</div>
		<div class="about-box about-um">
			<img src="images/um_logo.png" style="width:148px;height:35px"/>
			<p>The UnaMesa Association is a public charity dedicated to improving healthcare, education, and social services through innovations in technology and tools for sharing knowledge.</p>
			<p>Learn more at <a href="http://www.unamesa.org" target="_blank" class="external-site">www.unamesa.org</a></p>
		</div>
		<div class="hm-horizontal-center hm-logo">
			<div class="hm-about-link"><a href="license.html" rel="external">Copyrights and Credits</a></div>
		</div>
		{% endblock %}
