{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Bleeding During Pregnancy</h2>
			 <img src="images/chunked_11.png" class="hm-content-imgright" width="72"/> 
			<p><span class="hm-content-strong">Healthy signs:</span></p>
			<ul class="hm-content-noindent">
				<li>No bleeding.</li>
				<li>Very light bleeding or spotting for a few days during the first months, with no cramps.</li>
				<li>Pink or slightly bloody mucus <br>2 to 3 days before labor begins. This mucus is called show or the mucus plug, and is a sign that labor will start in a few days.</li>			
			</ul>
			
			<p><span class="hm-content-strong">Warning signs:</span> There is a lot of blood. Where is the woman in her pregnancy?</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
				<li><a href="Bleeding_first_half_pregnancy.html">In the first half of pregnancy?</a></li>
			</ul>
			
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Bleeding_second_half_pregnancy.html">In the second half of pregnancy?</a></li>
			</ul>
		{% endblock %}
