{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_After_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Bleeding after birth</h2>
			
			 <img src="images/PRE55.png" class="hm-content-imgright" width="72"/> 
			<p>
				It is normal for a woman to bleed a little after birth. But treat immediately for bleeding if she:</p>
			<ul class="hm-content-noindent">
				<li>Soaks 2 or more cloths or pads in an hour, OR</li>
				<li>Bleeds more than 2 cups</li>
			</ul>
						
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Bleeding-Before_Placenta.html" rel="external">Treat bleeding before the placenta</a></li>
				
			</ul>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Bleeding-After_Placenta.html" rel="external">Treat bleeding after the placenta</a></li>
			</ul>			
		
			<p>Even if you do not see a lot of blood, watch for these signs: feeling faint, pale skin, feeling like she lost too much blood.</p>

			<div class="hm-content-important clear">
                These are signs of shock. Take the mother to the hospital right away. Treat for bleeding and shock on the way.
			</div>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="Shock.html" data-role="button" data-theme="c">Shock</a>
			</div>
		{% endblock %}
