{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Eating_well_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Eating well</h2>
			<p>A woman who eats well is much more likely to have a healthy pregnancy and healthy baby.</p>
			<p>Pregnant women need to eat more than usual. The extra food gives them enough energy and strength, and helps their babies grow.</p>

			<p>Pregnant women should eat a variety of foods, some foods from each of these 3 groups every day:</p>

			<img src="images/wtnd21_nutr_19.png" class="hm-content-imgright" width="130">
			<p><b>Carbohydrates:</b> such as rice, maize, wheat, millet, cassava, taro, or plantains.</p>
			
			<img src="images/protein_foods.png" class="hm-content-imgright" width="130">
			<p><b>Proteins:</b> such as beans, peas, lentils, eggs, nuts and seeds, cheese, milk, yogurt, meat, fish, or insects.</p>
			
			<img src="images/NUT169De.gif" class="hm-content-imgright" width="102">
			<p><b>Fruits and vegetables:</b> such as leafy greens, carrots, cabbage, peppers, oranges, melons, pineapples, ripe papayas, or mangoes.</p>
			
            <p>If a woman is not getting enough to eat, encourage her family, 
            neighbors, and friends to share with her. Perhaps they can 
            help tend her garden, bring her eggs from their chickens, 
            or cook a bit extra to bring to her.</p>
            
            <p><span class="hm-content-strong">Iron and folic acid:</span> A pregnant woman also needs to get enough iron to prevent anemia, and folic acid to prevent birth defects in her baby. She should take supplements of these to make sure she gets enough. Each day she should take 400 to 500 mcg folic acid, and <br>300 mg ferrous sulfate (60 mg iron), until the baby is born.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Foods_with_iron.html" data-role="button" data-theme="c">Foods with iron</a>
			</div>
		{% endblock %}
