{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Fever_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Fever during pregnancy</h2>
			<p>If a woman has a fever during pregnancy, it could be caused by malaria, a sickness like flu, a kidney infection, or dehydration. Find the cause of the fever and treat it.</p>
			 <img src="images/MW0240E.png" class="hm-content-imgright" width="130"/> 
			<p>Along with the fever does she also:</p>
			<ul class="hm-content-noindent hm-content-spacedlist">
				<li>Have shivering, body aches and severe headache? She might have malaria.</li>
				<li>Have a cough, stuffy nose, body aches, feel weak and perhaps vomiting? She might have the flu.</li>
                <li>Have pain in the sides or in the middle of the back, and feel the need to urinate more often or have burning with urination? She might have a kidney infection.</li>

                <li>Feel thirsty, have little or no urine, have dry mouth, or feel dizzy when standing up? She may be dehydrated. Give rehydration drink.</li>
			</ul>
			<p>Along with treating the cause, a high fever needs to be lowered right away.</p>				
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Signs_of_malaria.html" rel="external" data-role="button" data-theme="c">Signs of malaria</a>
				<a href="Signs_of_kidney_or_bladder_infection.html" rel="external" data-role="button" data-theme="c">Signs of bladder and kidney infections</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">How to make rehydration drink</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">How to lower a fever</a>
				<a href="How_to_take_temperature1.html" rel="external" data-role="button" data-theme="c">How to check temperature</a>
			</div>
		{% endblock %}
