{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Green_or_brown_waters{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Green or brown waters</h2>
			 
			<p>Green or brown waters mean that the baby has passed stool inside the womb. He may be in trouble. The stool can get in the baby's mouth and nose, and it can be hard for him to get enough air. </p>
		
			<h3 class="clear">What to do if the waters are green or brown</h3>
			<div class="hm-content-important clear">If it is still early in labor or if the mother has not started pushing, it is best for this baby to be born in a hospital.</div>
			<img src="images/chunked_2.png" class="hm-content-imgright" width="116"/> 
			<p>If the mother is already pushing and the birth is coming soon, be ready to clean the baby's mouth at birth. As soon as the baby's head is born, wipe his mouth and nose with a clean cloth or use a suction bulb to suck the mucus out. Keep the baby's head lower than his body to help the mucus come out. <span class="hm-content-strong">If the baby has difficulty breathing, or his skin stays blue after a few minutes, take him to a hospital.</span>
			</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_suction_babys_nose_mouth1.html" data-role="button" data-theme="c">How to use a suction bulb</a>
			</div>
		{% endblock %}
