{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_roll_nipples{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to roll nipples</h2>
			 <img src="images/chunked_42.png" class="hm-content-imgright" width="130"/> 
			<p>Rolling, squeezing, and massaging the nipples can help a woman have stronger contractions and start labor. Keep squeezing and massaging until her contractions get strong. If her contractions do not get stronger within half an hour, rolling the nipples probably will not help.</p>

			<p>Rolling the nipples can also help the womb contract and stop bleeding.</p>
		
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="Water_breaks_no_labor.html" rel="external" data-role="button" data-theme="c">Water breaks but labor does not start</a>
				<a href="Too_long_labor.html" rel="external" data-role="button" data-theme="c">Too long labor</a>
			</div>
		{% endblock %}
