{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_medicine_to_stop_bleeding{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to give medicine<br>to stop bleeding</h2>
            Give one of these medicines to stop bleeding:
            <p><span class="hm-content-strong">Oxytocin</span><br>Inject 10 units of oxytocin in the side of the thigh muscle. You can give this dose again in 20 minutes if bleeding does not stop.</p>
			
			<p><span class="hm-content-strong">Misoprostol</span> <br>Give 600 mcg misoprostol by mouth. If she feels nauseous, you can also insert tablets into the woman's rectum. Wear gloves.</p>

			<p><span class="hm-content-strong">Ergometrine (only give after the placenta has come out)</span> <br>Inject 0.2 mg ergometrine in the side of the thigh muscle.<br> OR, give 0.2 mg of ergometrine pills by mouth. You can give ergometrine every 2 to 4 hours for severe bleeding, or every 6 to 12 hours for less severe bleeding. But continue to give the medicine until bleeding has stopped and the womb is hard, usually about 48 hours. Pills do not work as quickly as injections. <span class="hm-content-strong">Do not give ergometrine to a woman with high blood pressure.</span></p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_inject_medicines_into_muscle.html" data-role="button" data-theme="c">How to give an injection</a>
				<a href="Shock.html" data-role="button" data-theme="c">Signs of shock</a>
			</div>
		{% endblock %}
