{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_help_get_woman_to_hospital{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to help a woman while getting her to the hospital</h2>
			 <img src="images/chunked_8.png" class="hm-content-imgright" width="174"/> 
			<p>If a woman is bleeding heavily, send 2 family members with her to the hospital to give blood if needed.</p>
			<p class="clear">If she is in shock, treat her for shock while transporting her to the hospital. If you know how, start an intravenous drip (IV). Or give rectal fluids.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">How to treat for shock</a>
				<a href="How_to_give_medicine_to_stop_bleeding.html" rel="external" data-role="button" data-theme="c">Medicine to stop bleeding after birth</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">How to give rectal fluids</a>
			</div>
		{% endblock %}
