{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Too_long_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Too long labor</h2>
			<img src="images/chunked_15.png" class="hm-content-imgright" width="116"/> 
            <p>A very long labor can lead to lasting health problems for the mother, or may be a sign that the baby cannot come out without medical help. Labor is too long when:
				<ul class="hm-content-noindent">
					<li>The mother has been in strong, active labor for more than 12 hours, OR</li>
					<li>She has been pushing for more than 2 hours without any signs that the baby will be born soon</li>
				</ul>
			</p>

			<p>If her contractions are not coming every 2 to 3 minutes, or if she can still talk through them, she is not in active labor yet. Encourage her to sleep. If she cannot sleep, have her walk, dance, climb stairs or hills. Help her to drink and eat light foods.</p>

			<p>Once contractions are coming regularly and are strong, be mindful of the time. Also think about how far from help you are, in case it is needed. You may need to try to strengthen her labor at home or get medical help.</p>

            <ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
                <li><a href="What_to_do_strong_labor.html">How to strengthen labor</a></li>
            </ul>		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Water_breaks_no_labor.html" data-role="button" data-theme="c">Waters break but labor has not started</a>
				<a href="Green_or_brown_waters.html" data-role="button" data-theme="c">The waters are green or brown</a>
			</div>
		{% endblock %}
