{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Water_breaks_no_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">The water breaks, but labor does not start</h2>
			<img src="images/chunked_1.png" class="hm-content-imgright" width="72"/> 
            
			<p>Most women will give birth within 24 hours after their waters break. If labor has not started within 12 hours, the woman and her baby could get a serious infection.</p>

			<h3>What to do if the water breaks but labor does not start</h3>

			<p>The mother must not put anything in her vagina. This could cause an infection.</p>

			<p class="clear">Try to strenghten labor. If labor does not start after a few more hours, she should go to a health center or hospital.</p>

			<div class="hm-content-important clear">
				Do not use injections to start labor. They can cause contractions that are so strong that they can kill the woman or the baby.
			</div>

			<p>If she has a fever or there is a bad smell in the vagina, an infection is starting. Give antibiotics on the way to the hospital.</p>

			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
				<li><a href="How_to_treat_infection_during_labor.html">Antibiotics to treat infection</a></li>
			</ul>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>
				<a href="What_to_do_strong_labor.html" data-role="button" data-theme="c">How to strengthen labor</a> 
				<a href="Too_long_labor.html" data-role="button" data-theme="c">Too long labor</a>
				
			</div>
		{% endblock %}
