<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DetectPhoneNumber</key>
	<false/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableAcceleration</key>
	<false/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>ExternalHosts</key>
	<array/>
	<key>Plugins</key>
	<dict>
		<key>HesperianMobile</key>
		<string>HesperianMobile</string>
		<key>com.phonegap.accelerometer</key>
		<string>PGAccelerometer</string>
		<key>com.phonegap.splashscreen</key>
		<string>PGSplashScreen</string>
	</dict>
</dict>
</plist>
