{% extends "templates.jinja/base.about.html" %}
{% block title %}Safe Pregnancy and Birth{% endblock %}

{% block id %}about{% endblock %}
		{% block content %}
		<h2>El embarazo y el parto seguros<br>Version <span class="app-version">1.0.3</span></h2>
		<p>Esta aplicación es el resultado de una colaboración entre Hesperian y UnaMesa.</p>
		<div class="about-box about-hm">
			<img src="images/hesperian_logo.png" style="width:102px;height:40px"/>
			<p>Hesperian – Guías de salud es una organización sin fines de lucro que publica libros y materiales digitales para la salud comunitaria.</p>
			<p>Visite el <a href="http://hesperian.org/books-and-resources/resources-in-spanish/" rel="external" target="_blank" class="external-site">Foro Digital Hesperian </a>para ver y acceder a nuestros recursos.</p>
		</div>
		<div class="about-box about-um">
			<img src="images/um_logo.png" style="width:148px;height:35px"/>
			<p>La Asociación UnaMesa (The UnaMesa Association) es una organización de beneficencia pública dedicada a mejorar los servicios de salud, educación y atención social a través de innovaciones en la tecnología y las herramientas utilizadas para compartir información.</p>
			<p>Vea más información en: <a href="http://www.unamesa.org" target="_blank" class="external-site">www.unamesa.org</a></p>
		</div>
		<div class="hm-horizontal-center hm-logo">
			<div class="hm-about-link"><a href="license.html" rel="external">Derechos de autor y créditos</a></div>
		</div>
		{% endblock %}
