{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Baby_is_lying_sideways{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Si el bebé está de lado dentro del vientre</h2>
			 <img src="images/chunked_3.png" class="hm-content-imgright" width="102"/> 
			<div class="hm-content-important" width="60%">No trate de cambiar la posición del bebé después de que empiece el trabajo de parto ya que esto puede causar que  la placenta se separe de la matriz.</div>
			
			<p>Si el bebé está de lado cuando se acerca el parto, haga un plan para llevar a la madre a dar luz en un hospital. Un bebé de lado no puede nacer sin una cirugía (cesárea).</p>
			<p class="clear">Si el trabajo de parto ya empezó con el bebé de lado, lleve a la madre a un hospital de inmediato para salvar las vidas de ella y de su bebé. </p>
					
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_check_the_babys_position1.html" data-role="button" data-theme="c">Cómo revisar la posición del bebé</a>
				<a href="How_to_change_babys_position.html" data-role="button" data-theme="c">Cómo cambiar la posición del bebé dentro del vientre </a>
			</div>
		{% endblock %}
