{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_After_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Sangrado después del parto</h2>
			
			 <img src="images/PRE55.png" class="hm-content-imgright" width="72"/> 
			<p>
				Es normal que una mujer sangre un poco después del parto. Sin embargo, hay que tratarla inmediatamente por el sangrado si ocurre lo siguiente:</p>
			<ul class="hm-content-noindent">
				<li>Moja más de 2 trapos o toallas sanitarias en 1 hora, O</li>
				<li>Si sangra más de 2 tazas.</li>
			</ul>
						
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Bleeding-Before_Placenta.html" rel="external">Cómo tratar el sangrado antes de que salga la placenta</a></li>
				
			</ul>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Bleeding-After_Placenta.html" rel="external">Cómo tratar el sangrado después de que salga la placenta</a></li>
			</ul>			
		
			<p>Aún si no ve mucha sangre, vigile a la madre para ver si las siguientes señas se presentan: sentirse mareada, piel pálida, sentimiento de haber perdido demasiada sangre.</p>

			<div class="hm-content-important clear">
                Esas son señas de choque. Lleve a la madre al hospital de inmediato. Trátela por el sangrado y por choque en el camino al hospital.
			</div>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>	
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
				<a href="Shock.html" data-role="button" data-theme="c">Señas de choque</a>
			</div>
		{% endblock %}
