{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_second_half_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Sangrado durante la segunda mitad del embarazo</h2>
			 <img src="images/chunked_7.png" class="hm-content-imgright" width="102"/> 
			<p>El sangrado durante la segunda mitad del embarazo puede significar que la placenta está colocada en el lugar equivocado o se ha desprendido del útero.  Ambos son problemas graves a los que debe prestarse atención inmediata. </p>
			<div class="hm-content-important clear">El sangrado durante la segunda mitad del embarazo es muy peligroso.  Consiga ayuda médica para poder salvar a la madre y al bebé. Vigile a la madre para ver si presenta señas de choque.</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>	
				<a href="Shock.html" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
				<a href="Bleeding_during_labor.html" data-role="button" data-theme="c">Sangre roja durante el trabajo de parto</a>				
			</div>
		{% endblock %}
