{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_After_Placenta{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo tratar el sangrado después de que salga la placenta</h2>
			
			 <img src="images/chunked_14.png" class="hm-content-imgright" width="145"/> 
			<ul class="hm-content-noindent">
				<li>Pídale a la madre que orine. Una vejiga llena <br>previene que el útero se contraiga. </li>
				<li>Mantenga a la madre recostada y coloque al bebé al pecho de la madre para que amamante.  Si el bebé no puede mamar, sobe los pezones de la madre. Esto ayudará a que el útero se contraiga y empuje la placenta fuera.</li>
				<li>Frote firmemente la parte superior del vientre al nivel del ombligo hasta que la matriz se ponga duro.  Siga frotando hasta que el sangrado se detenga.</li>
				<li>Déle medicina para detener el sangrado. Inyéctele 10 unidades de oxitocina en la nalga o muslo.  En vez de esto, puede  darle 400 microgramos de misoprostol por la boca, 1 vez nada más.  En vez de lo anterior,  puede darle 0,2 miligramos de ergometrina por la boca o por medio de una inyección en la nalga o muslo.</li>
			</ul>			
			<div class="hm-content-important clear">
				Una mujer que está sangrando mucho está en peligro de entrar en choque. Revísela para ver si presenta señas de estar en choque.
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_give_medicine_to_stop_bleeding.html" data-role="button" data-theme="c">Medicinas para detener el sangrado después del parto</a>
				<a href="Shock.html" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_rub_the_womb.html" data-role="button" data-theme="c">Sobar el vientre (la matriz)</a>
				<a href="How_to_inject_medicines_into_muscle.html" data-role="button" data-theme="c">Cómo poner una inyección</a>
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">Cómo sobar los  pezones de la madre</a>
			</div>
		{% endblock %}
