{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_first_half_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Sangrado durante la primera mitad del embarazo: pérdida</h2>
			 <img src="images/miscarriage.png" class="hm-content-imgright" width="130"/> 
			<p>Cuando una mujer sangra casi al mismo nivel que cuando tiene su regla, es probablemente una pérdida. Esto usualmente no es peligroso para la salud física de la madre, pero obsérvela cuidadosamente por señas de peligro como el sangrado excesivo o señas de infección así como la fiebre, sentirse mareada o un mal olor en la vagina.</p>

			<p>Las mujeres que han sufrido pérdidas pueden sentir tristeza, miedo, o desilusión. El dolor emocional es tan importante como el dolor físico.</p>
		
		{% endblock %}
