{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Bleeding_during_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Sangrado durante el trabajo de parto, antes que nazca el bebé</h2>
			<p>Algo de fluido de color rosado pálido o moco y sangre café durante el trabajo de parto es normal. Si el sangrado es de color rojo intenso, esto puede significar que la placenta se está separando de la pared del útero o está tapando la apertura del útero.</p>
			<div class="hm-content-important clear">
			Esto es muy peligroso. Lleve a la madre al hospital de inmediato. Vigílela para ver si presenta señas de choque.
			</div>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Shock.html" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
			</div>
		{% endblock %}
