{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Sangrado durante el embarazo</h2>
			 <img src="images/chunked_11.png" class="hm-content-imgright" width="72"/> 
			<p><span class="hm-content-strong">Señas de salud:</span></p>
			<ul class="hm-content-noindent">
				<li>No hay sangrado.</li>
				<li>Sangrado muy ligero por unos días durante los primeros meses, sin retortijones.</li>
				<li>Moco rosado o con un poquito de sangre de 2 a 3 días antes que comience el trabajo de parto.  A este moco se le llama el tapón mucoso y es una seña de que el trabajo de parto va a empezar en unos días.</li>			
			</ul>
			
			<p><span class="hm-content-strong">Señas de alerta:</span> Si hay mucha sangre, verifique ¿en qué etapa del embarazo se encuentra la mujer?</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
				<li><a href="Bleeding_first_half_pregnancy.html">¿Está en la primera mitad del embarazo?</a></li>
			</ul>
			
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Bleeding_second_half_pregnancy.html">¿Está en la segunda mitad del embarazo?</a></li>
			</ul>
		{% endblock %}
