{% extends "templates.jinja/base.page-with-menu.html" %}
{% block id %}Danger_Signs_During_Pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Señas de peligro<br> durante el embarazo</h2>
			
			<ul data-role="listview" data-theme="d" class="hm-menu" data-inset="true">
				<li><a href="Bleeding_during_pregnancy.html" rel="external"><img src="images/submenu-bleeding_pregnancy.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Sangrado durante el embarazo</span></a></li>
				<li><a href="Severe_abdominal_pain_in_pregnancy.html" rel="external"><img src="images/submenu-severe_abdominal_pain.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Dolor abdominal severo durante el embarazo</span></a></li>
				<li><a href="Pre-eclampsia_during_pregnancy.html" rel="external"><img src="images/submenu-high_bp.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Presión de la sangre alta y pre-eclampsia</span></a></li>
				<li><a href="Seizures_during_pregnancy.html" rel="external"><img src="images/submenu-seizures.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Ataques (convulsiones)</span></a></li>							
			</ul>
		{% endblock %}
