{% extends "templates.jinja/base.page-with-menu.html" %}
{% block id %}Danger_Signs_During_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Señas de peligro<br> durante el parto</h2>
			
			<ul data-role="listview" data-theme="d" class="hm-menu" data-inset="true">
				<li><a href="Too_long_labor.html" rel="external"><img src="images/submenu-long_labor.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Parto muy largo</span></a></li>
				<li><a href="Water_breaks_no_labor.html" rel="external"><img src="images/submenu-water_breaks.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Se rompe la fuente pero <br>no hay trabajo de parto</span></a></li>
				<li><a href="Green_or_brown_waters.html" rel="external"><img src="images/submenu-green_water.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Aguas verdes o cafés (marrones)</span></a></li>
				<li><a href="Seizures_during_pregnancy.html" rel="external"><img src="images/submenu-seizures.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Ataques (convulsiones)</span></a></li>
				<li><a href="Fever_during_labor.html" rel="external"><img src="images/submenu-fever.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Fiebre</span></a></li>
				<li><a href="Bleeding_during_labor.html" rel="external"><img src="images/submenu-bleeding_labor.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Sangrado</span></a></li>
			</ul>
		{% endblock %}
