{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Eating_well_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Comer bien durante el embarazo</h2>
			<p>Cuando una mujer come bien, es más probable que tenga un embarazo sano y un bebé sano.</p>
			<p>Las mujeres embarazadas necesitan comer más de lo usual. La comida extra les da suficiente energía y fuerza y ayuda a que sus bebés crezcan dentro del vientre.</p>

			<p>Las mujeres embarazadas deben comer una variedad de alimentos cada día e  incluir 1 ó más alimentos de estos 3 grupos:</p>


			<img src="images/wtnd21_nutr_19.png" class="hm-content-imgright" width="130">
			<p><b>Carbohidratos: </b> como el arroz, maíz, trigo, mijo, yuca, malanga o plátanos.</p>
			<span class="clear"></span> 
			
			<img src="images/protein_foods.png" class="hm-content-imgright" width="130">
			<p><b>Proteínas:</b> como los frijoles, guisantes, lentejas, huevos, nueces y semillas, queso, leche, yogurt, carnes de cualquier tipo, pescado o insectos.
</p>
			
			<img src="images/NUT169De.gif" class="hm-content-imgright" width="102">
			<p><b>Frutas y vegetales:</b> tales como verduras de hoja verde, zanahorias, repollo o col, pimientos, naranjas, melones, piñas, papayas o mangos.
</p>
			
            <p>Si una mujer embarazada no come lo suficiente, anime a su familia, vecinos y amigos a que le compartan de su comida.Tal vez ellos la pueden ayudar a cuidar su jardín, le den huevos de sus gallinas o cocinen un poco de más para regalarle.</p>
            
            <p><span class="hm-content-strong">Hierro y ácido fólico: </span> Una mujer embarazada también necesita suficiente hierro para prevenir la anemia y ácido fólico para prevenir que el bebé tenga defectos de nacimiento. Debe tomar suplementos de estos para asegurarse que tenga suficiente de los 2. Cada día debe tomar de 400 a 500 microgramos de ácido fólico y 300 miligramos de sulfato ferroso (60 miligramos de hierro) hasta que el bebé nazca.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>	
				<a href="Foods_with_iron.html" data-role="button" data-theme="c">Comidas que contienen hierro</a>
			</div>
		{% endblock %}
