{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Fever_during_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Fiebre durante el trabajo de parto</h2>
			 <img src="images/ill-pregnant-_ee.png" class="hm-content-imgright" width="130"/> 
			<p>Es normal que la temperatura de una mujer suba un poco durante el trabajo de parto. Esto puede darse porque la mujer está deshidratada. En ese caso, hay que darle una bebida rehidratante.</p>
			<p>Una fiebre mayor a los  38&deg;C (100.4&deg;F) es usualmente seña de infección. Déle antibióticos a la mujer en el camino al hospital.</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
                <li><a href="How_to_treat_infection_during_labor.html">Antibióticos para tratar infecciones</a></li>
            </ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">Cómo bajar la fiebre</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">Cómo medir la temperatura</a>
				<a href="How_to_make_rehydration_drink1.html" data-role="button" data-theme="c">Cómo hacer una bebida rehidratante </a>
			</div>
		{% endblock %}
