{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Fever_After_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Fiebre después del parto</h2>
			
			 <img src="images/PRE74.png" class="hm-content-imgright" width="145"/> 
			<p>
				Si la madre tiene fiebre en las primeras semanas después del parto, puede tener una infección en el útero.  Otras señas de infección son:
			</p>
			<ul class="hm-content-noindent">
				<li>Escalofríos</li>
				<li>Dolor y sensibilidad en el vientre</li>
				<li>Fluido con mal olor en la vagina</li>
			</ul>			
			<div class="hm-content-important clear">
				La infección en el útero es bastante peligrosa y debe ser tratada o la mujer puede morir.
			</div>
			<br>
            <div>
                <p>Déle antibióticos en camino al hospital.</p>
                <ul data-role="listview" data-theme="b" data-inset=
            "true" class="hm-content-essentiallinks clear">
                	<li><a href="How_to_treat_infection_during_labor.html">Antibióticos para tratar infecciones</a></li>
            	</ul>
            </div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">Cómo medir la temperatura</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">Cómo bajar la fiebre</a>
			</div>
		{% endblock %}
