{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Foods_with_iron{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Comidas que contienen hierro </h2>
			<div class="hm-horizontal-center">
				 <img src="images/NUT167A.png" width="261"/> 
			</div>
			<p>Las mujeres embarazadas están en riesgo de sufrir de anemia (sangre débil). Comer más alimentos que contienen hierro ayuda a prevenir y tratar la anemia. Algunas comidas que contienen mucho hierro son:</p>
			<ul class="hm-content-noindent">
				<li>La carne (sobre todo el hígado, los riñones y otras vísceras)</li>
				<li>Los frijoles, chícharos, guisantes y lentejas</li>
				<li>El pescado</li>
				<li>Los huevos</li>
				<li>Las verduras de hoja verde oscuro</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Anemia_during_pregnancy.html" data-role="button" data-theme="c">Señas de anemia</a>
			</div>
		{% endblock %}
