{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Green_or_brown_waters{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Aguas verdes o cafés (marrones)</h2>
			 
			<p>Las aguas verdes o cafés significan que el bebé ha defecado dentro del vientre. El bebé puede estar en peligro. Las heces del bebé pueden entrar en su boca y nariz y pueden prevenir que obtenga suficiente aire.</p>
		
			<h3 class="clear">Qué hacer si las aguas son verdes o cafés</h3>
			<div class="hm-content-important clear">Si aún es temprano en el trabajo de parto o si la madre no ha empezado a pujar, es mejor que el bebé nazca en un hospital.</div>
			<img src="images/chunked_2.png" class="hm-content-imgright" width="116"/> 
			<p>Si la madre ya ha estado pujando y el nacimiento se va a dar pronto, prepárese para limpiar la boca del bebé cuando salga. Tan pronto como la cabeza del bebé salga, límpiele la boca y la nariz con un trapo limpio o utilice una perilla (bombilla de aspiración) para succionar el moco. Mantenga la cabeza del bebé un poco más abajo que el cuerpo para ayudar a que el moco salga. <span class="hm-content-strong">Si el bebé no puede respirar bien o su piel permanece de color azul después de algunos minutos, tiene que llevarlo a un hospital.</span>
			</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>	
				<a href="How_to_suction_babys_nose_mouth1.html" data-role="button" data-theme="c">Cómo succionar el moco con una perilla</a>
			</div>
		{% endblock %}
