{% set pagetitle = '<a href="Things_to_check_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Lista de cosas que revisar</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Her_temperature{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Temperatura</h2>
			<div class="hm-horizontal-center">
				 <img src="images/thermometer.png" width="252"/> 
			</div>
			<p class="clear">
				<span class="hm-content-strong">Seña de salud: </span> Cuando la temperatura de la mujer está cerca de los 37&deg;C (98.6&deg;F). No se siente caliente al tacto.
			</p>
	
			<p>
				<span class="hm-content-strong">Seña de alarma: </span>Cuando la mujer tiene fiebre—es decir, una temperatura de 38&deg;C (100.4&deg;F) o más—se siente caliente al tacto.
			</p>
			
			<p>
				Una fiebre durante el embarazo puede ser causada por el paludismo, una enfermedad como la gripa, una infección de los riñones o la deshidratación.  Encuentre la causa de la fiebre y trátela. 
			</p>
			 <img src="images/MW0240E.png" class="hm-content-imgright" width="130" /> 
			<p>Si además de fiebre, la mujer:</p>
			<ul class="hm-content-noindent hm-content-spacedlist">
				<li>Tiembla, le duele el cuerpo y tiene dolor <br />de cabeza, entonces puede tener el paludismo.</li>
				<li>Tiene tos, nariz tapada o dolor de cuerpo, se siente débil y tal vez tiene vómitos, entonces puede tener gripa.</li>
                <li>Tiene dolor en los costados o parte baja de la espalda y siente la necesidad de orinar más a menudo, o cuando orina tiene sensación de ardor, entonces puede tener una infección de los riñones. </li>
                <li>Siente sed, tiene poca o ninguna orina, tiene boca seca o se siente mareada cuando se pone de pie, entonces puede estar deshidratada. Déle una bebida rehidratante.</li>
			</ul>
			<p class="clear">Además de tratar la causa, una fiebre alta necesita ser bajada inmediatamente.</p>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Signs_of_malaria.html" data-role="button" data-theme="c">Señas de paludismo </a>
				<a href="Signs_of_kidney_or_bladder_infection.html" data-role="button" data-theme="c">Señas de infección en los riñones o en<br> la vejiga</a>
				<a href="How_to_make_rehydration_drink1.html" data-role="button" data-theme="c">Cómo hacer una bebida rehidratante</a>
				<a href="How_to_lower_fever.html" data-role="button" data-theme="c">Cómo bajar una fiebre</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">Cómo medir la temperatura</a>
			</div>
			
		{% endblock %}
