{% extends "templates.jinja/base.page-with-menu.html" %}
{% block id %}How_Tos{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Cómo hacerlo</h2>
			
			<ul data-role="listview" data-theme="d" data-inset="true">
				<li><a href="How_to_take_blood_pressure1.html" rel="external">Cómo medir la presión de la sangre</a></li>
				<li><a href="How_to_take_temperature1.html" rel="external">Cómo medir la temperatura</a></li>
				<li><a href="How_to_lower_fever.html" rel="external">Cómo bajar una fiebre</a></li>
				<li><a href="How_to_treat_malaria.html" rel="external">Cómo tratar el paludismo</a></li>
				<li><a href="How_to_prevent_malaria.html" rel="external">Cómo prevenir el paludismo</a></li>
				<li><a href="How_to_check_for_protein_in_urine1.html" rel="external">Cómo revisar la orina para encontrar proteína</a></li>
				<li><a href="If_she_has_a_bladder_infection.html" rel="external">Cómo tratar las infecciones de vejiga y riñón</a></li>
				<li><a href="How_to_treat_yeast_infections.html" rel="external">Cómo tratar las infecciones por hongos (moniliasis)</a></li>
				<li><a href="How_to_check_the_babys_position1.html" rel="external">Cómo revisar la posición del bebé</a></li>
				<li><a href="How_to_change_babys_position.html" rel="external">Cómo cambiar la posición del bebé dentro del vientre</a></li>
				<li><a href="What_to_do_strong_labor.html" rel="external">Cómo reforzar el trabajo de parto</a></li>
				<li><a href="How_to_roll_nipples.html" rel="external">Cómo sobar los pezones</a></li>			
				<li><a href="How_to_give_castor_oil1.html" rel="external">Cómo dar aceite de castor</a></li>
				<li><a href="How_to_make_bleach_solution.html" rel="external">Cómo hacer una solución de cloro</a></li>
				<li><a href="Shock.html" rel="external">Cómo tratar a alguien en choque</a></li>
				<li><a href="How_to_make_rehydration_drink1.html" rel="external">Cómo hacer una bebida rehidratante (de suero)</a></li>
				<li><a href="How_to_give_rectal_fluids1.html" rel="external">Cómo dar líquidos por el recto</a></li>
				<li><a href="How_to_rub_the_womb.html" rel="external">Cómo sobar el vientre (la matriz)</a></li>
				<li><a href="How_to_treat_infection_during_labor.html" rel="external">Cómo tratar la infección durante o después del parto</a></li>
				<li><a href="How_to_help_get_woman_to_hospital.html" rel="external">Cómo ayudar a la madre mientras la llevan al hospital</a></li>
				<li><a href="How_to_give_medicine_to_stop_bleeding.html" rel="external">Cómo darle medicina para que deje de sangrar</a></li>
				<li><a href="How_to_inject_medicines_into_muscle.html" rel="external">Cómo poner una inyección</a></li>
				<li><a href="How_to_give_magnesium_sulfate1.html" rel="external">Cómo dar sulfato de magnesio</a></li>
				<li><a href="How_to_suction_babys_nose_mouth1.html" rel="external">Cómo succionar el moco de la&nbsp;boca y nariz del bebé (con una perilla) </a></li>
			</ul>
		{% endblock %}
