{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_help_get_woman_to_hospital{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo ayudar a la madre mientras la llevan al hospital</h2>
			 <img src="images/chunked_8.png" class="hm-content-imgright" width="174"/> 
			<p>Si una mujer ha estado sangrando severamente, envíe a 2 familiares al hospital con ella para que puedan donar sangre de ser necesario.</p>
			<p class="clear">Si está en choque, trátela por el choque mientras la transporta al hospital.  Si sabe cómo hacerlo, póngale una sonda intravenosa (IV) o déle líquidos por el recto.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Cómo tratar el choque</a>
				<a href="How_to_give_medicine_to_stop_bleeding.html" rel="external" data-role="button" data-theme="c">Cómo darle medicina para que deje de sangrar</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">Cómo dar líquidos por el recto</a>
			</div>
		{% endblock %}
