{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_rub_the_womb{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo sobar el vientre <br>(la matriz)</h2>
			 <img src="images/MW0596.png" class="hm-content-imgright" width="130"/> 
			<p>Para detener un sangrado coloque su mano en la parte superior del vientre y presione mientras mueve la misma mano en un círculo sobre la matriz. Sobe la matriz hasta que se sienta como una bola dura. La matriz debe estar en el centro de la barriga, no a la izquierda o a la derecha. Si no está en el centro, pídale a la mujer que orine. Revise el vientre cada 1 ó 2 minutos por un rato. Si la matriz está suave otra vez, sóbela hasta que se contraiga de nuevo.</p>
			<p class="clear">Sobar el vientre va a ser doloroso para la madre. Usted debe seguir sobando para detener el sangrado, aunque la madre tenga mucho dolor.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Sangrado después del parto</a>
			</div>
		{% endblock %}
