{% set pagetitle = "Cómo dar líquidos<br> por el recto" %}
{% set seq_length = 5 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_rectal_fluids2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_rectal_fluids1{% endblock %}

		{% block content %}	
			 <img src="images/chunked_10.png" class="hm-content-imgright" width="145"/> 
			<p class="hm-content-strong">Va a necesitar:</p>
			<ul class="hm-content-noindent">
				<li>Una bolsa limpia de enema o una lata con un tubo.</li>
				<li>Un trapo que irá debajo de la mujer. </li>
				<li>600 ml (un poco más de &frac12; litro) de agua pura tibia (no caliente). También puede usar suero (la Receta No. 2 de sal y azucar solamente) o una solución intravenosa (IV).</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">Cómo hacer una bebida rehidratante</a>
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">Cómo bajar una fiebre</a>
			</div>
		{% endblock %}
