{% set pagetitle = "Cómo medir la presión<br> de la sangre" %}
{% set seq_length = 5 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_take_blood_pressure2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_take_blood_pressure4.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_take_blood_pressure3{% endblock %}

		{% block content %}
			<div class="hm-horizontal-center">
				 <img src="images/chunked_32.gif" width="203"/> 
			</div>
			<p>
				3. Sienta el pulso justo por debajo del manguito, en la parte interior del codo.  Coloque el estetoscopio sobre el pulso y coloque los auriculares en sus oídos. 
			</p>
			

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>
				<a href="Pre-eclampsia_during_pregnancy.html" data-role="button" data-theme="c">Qué hacer si tiene alta la presión de la sangre </a>
				<a href="Her_blood_pressure.html" data-role="button" data-theme="c">Medir la presión de la sangre durante el embarazo</a>
			</div>
		{% endblock %}
