{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_treat_yeast_infections{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo tratar las infecciones por hongos (moniliasis)</h2>
			<p>Las infecciones por hongos (moniliasis) son comunes durante el embarazo.  No son peligrosas pero deben ser tratadas antes del parto.</p>

			<span class="hm-content-strong">Señas:</span>
			<ul class="hm-content-noindent hm-content-nomargintop">
				<li>Picazón fuerte fuera de la vagina o dentro de la vagina</li>
				<li>Desecho vaginal blanco y grumoso como leche cuajada o yogur</li>
				<li>Piel roja fuera y dentro de la vagina, que puede llegar a sangrar</li> 
				<li>Sensación de ardor cuando orina</li>
				<li>Olor a moho o  a pan que se está cocinando</li>
			</ul>
		
			<span class="hm-content-strong">Tratamiento:</span>
				
			<ul class="hm-content-noindent hm-content-nomargintop">
				<li><img src="images/MW1213C.png" class="hm-content-imgright" width="116" />Mezclar 3 cucharadas de vinagre en un litro de agua previamente hervida pero ya al tiempo. Moje un trapo de algodón bien limpio e insértelo en la vagina cada noche por 3&nbsp;noches.  Remueva el trapo cada mañana. &mdash;O&mdash;</li>
				<li>Mojar un trapo de algodón bien limpio en violeta de genciana de 0,5%. Insértelo en la vagina cada noche por 3&nbsp;noches. Remueva el trapo cada mañana. &mdash;O&mdash;</li>
				<li>Insertar  200 miligramos de miconazol hasta el fondo de la vagina cada noche por 3&nbsp;noches. &mdash;O&mdash;</li>
				<li>Insertar 100.000 unidades de nistatina hasta el fondo de la vagina cada noche por 14&nbsp;noches. </li>
			</ul>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Increased_vaginal_discharge.html" data-role="button" data-theme="c">Aumento del desecho vaginal</a>
			</div>
		{% endblock %}
