{% set pagetitle = "Cómo dar líquidos<br> por el recto" %}
{% set seq_length = 5 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_give_rectal_fluids1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_rectal_fluids3.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_rectal_fluids2{% endblock %}

		{% block content %}	
			 <img src="images/chunked_10.png" class="hm-content-imgright" width="145"/> 
			<p class="hm-content-strong">¿Qué hacer?</p>
			<ol class="hm-content-noindent hm-content-spacedlist">
				<li>Dígale a la mujer lo que va a hacer y por qué.</li>
				<li>Lávese bien las manos.</li>
				<li>Pídale que se recueste sobre su lado izquierdo si es posible.  Coloque una almohada o trapo debajo de su cabeza. </li>
				<li>Si los tiene, póngase guantes limpios.</li>
			</ol>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">Cómo hacer una bebida rehidratante</a>
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">Cómo bajar una fiebre</a>
			</div>
		{% endblock %}
