{% set pagetitle = "Cómo dar sulfato<br> de magnesio" %}
{% set seq_length = 2 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_give_magnesium_sulfate1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_magnesium_sulfate2{% endblock %}

		{% block content %}
			<p>Dar 10 g de sulfato de magnesio dividido en 2&nsbp;dosis. Inyecte la mitad, 5 g, profundamente en cada nalga.</p>
			<div class="hm-horizontal-center">
				 <img src="images/MW1412-38-text.png" width="275"/> 
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>
				<a href="How_to_inject_medicines_into_muscle.html" data-role="button" data-theme="c">Cómo poner una inyección</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">Qué hacer si tiene pre-eclampsia severa</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Qué hacer si ella tiene un ataque</a>
			</div>
		{% endblock %}

