{% set pagetitle = "Cómo hacer una bebida <br>rehidratante (de suero)" %}
{% set seq_length = 3 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_make_rehydration_drink2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_rehydration_drink1{% endblock %}

		{% block content %}	
			<p>Hay 2 formas de hacer una bebida rehidratante (de suero). Ambas son buenas y se le pueden dar a cualquier mujer que esté en trabajo de parto, especialmente si tiene fiebre o ha estado en trabajo de parto por un período prolongado. Si puede, agréguele media taza de jugo de frutas, agua de coco o plátanos maduros en puré a las 2 recetas. Éstos contienen potasio, un mineral que les ayuda a las personas enfermas a aceptar más comida y bebida.</p>

			<p>Déle a la persona sorbos de esta bebida cada 5 minutos, día y noche, hasta que comience a orinar normalmente. Una persona de tamaño grande podrá necesitar hasta 3 litros o más al día. Déle la bebida a menudo, en tragos pequeños. Aun si la mujer vomita, no toda la bebida va a ser vomitada.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Cómo tratar a alguien en choque</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">Cómo dar líquidos por el recto</a>
				<a href="Fever_during_labor.html" rel="external" data-role="button" data-theme="c">Fiebre durante el parto</a>
			</div>
		{% endblock %}
