{% set pagetitle = "Cómo medir la presión<br> de la sangre" %}
{% set seq_length = 5 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_take_blood_pressure2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_take_blood_pressure1{% endblock %}

		{% block content %}	
			<div class="hm-horizontal-center">
				 <img src="images/chunked_30.gif" width="174"/> 
			</div>
			<p class="clear">1. Acomode el manguito alrededor del brazo desnudo arriba del codo.</p>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>	
				<a href="Pre-eclampsia_during_pregnancy.html" data-role="button" data-theme="c">Qué hacer si tiene alta la presión de la sangre </a>
				<a href="Her_blood_pressure.html" data-role="button" data-theme="c">Medir la presión de la sangre durante el embarazo</a>
			</div>
		{% endblock %}
