{% set pagetitle = "Cómo hacer una bebida <br>rehidratante (de suero)" %}
{% set seq_length = 3 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_make_rehydration_drink2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_rehydration_drink3{% endblock %}

		{% block content %}	
			<p class="hm-content-strong">Receta 2: Bebida hecha con azúcar y sal.</p>
	
			<div class="hm-text-and-img">
			  <span>En 1 litro de agua limpia:</span>
			  <img src="images/bottle.png" width="52"/> 
			</div>
			
			<div class="hm-text-and-img">
			  <span>Ponga la mitad de una cucharadita de sal</span>
			  <img src="images/salt_spoon.png" width="58"/>
			</div>
			
			<div class="hm-text-and-img">
				<span>Y 8 cucharaditas al ras de azúcar.</span>
				<img src="images/sugar_spoon.png" width="116"/>
			</div>
		
      <p>(Puede usar azúcar morena o melaza, en vez de azúcar blanca.)</p>
      <p>Mézclela bien.</p>
      <p class="hm-content-strong">Cuidado: Antes de agregar el azúcar, pruebe la bebida y asegúrese de que sea menos salada que las lágrimas.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Cómo tratar a alguien en choque</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">Cómo dar líquidos por el recto</a>
				<a href="Fever_during_labor.html" rel="external" data-role="button" data-theme="c">Fiebre durante el trabajo de parto</a>
			</div>
		{% endblock %}
