{% set pagetitle = "Cómo dar líquidos<br> por el recto" %}
{% set seq_length = 5 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_give_rectal_fluids2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_rectal_fluids4.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_rectal_fluids3{% endblock %}

		{% block content %}	
			 <img src="images/chunked_10.png" class="hm-content-imgright" width="145"/> 
			<ol start="5" class="hm-content-noindent hm-content-spacedlist">
				<li>Deje que el agua baje por el final del tubo para sacar el aire. Pellizque el tubo para detener el flujo.</li>
				<li>Cubra la punta del tubo con agua, vaselina o aceite vegetal, e introdúzcalo en el ano. Pídale a la mujer que respire lentamente y profundamente para relajar los músculos del ano.  No meta más de 10 cm del tubo. </li>
			</ol>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">Cómo hacer una bebida rehidratante</a>
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Señas de choque</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">Cómo bajar una fiebre</a>
			</div>
		{% endblock %}
