{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}How_to_lower_fever{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo bajar una fiebre</h2>
			 <img src="images/chunked_22.png" class="hm-content-imgright" width="87"/> 
			<p>Bajar una fiebre hará que la mujer se sienta mejor, pero no va a tratar la causa de la fiebre, por ejemplo una infección o el paludismo. </p>
			<p>Baje la fiebre al darle por la boca 500 a 1000 miligramos de paracetamol cada 4 a 6 horas (pero no le dé más de 4000&nbsp;miligramos de paracetamol en un día). No le dé ibuprofeno a una mujer embarazada durante los últimos 3 meses de embarazo, no es seguro. </p> 
			<p>Déle un baño con agua fresca (no fría), o bien, utilice compresas de agua fresca (trapos húmedos) para ayudar a bajar la fiebre. </p>
			<p>Ayude a la mujer a tomar una bebida rehidratante o asegúrese que beba por lo menos 1 taza de agua cada hora. Si está demasiado enferma para beber agua, colóquele una sonda intravenosa (IV), si sabe cómo hacerlo, o si no, déle líquidos por el recto.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_make_rehydration_drink1.html" data-role="button" data-theme="c">Cómo preparar una bebida rehidratante</a>
				<a href="How_to_give_rectal_fluids1.html" data-role="button" data-theme="c">Cómo dar líquidos por el recto</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">Cómo medir la temperatura </a>
			</div>
		{% endblock %}
