{% set pagetitle = "Cómo dar aceite de castor" %}
{% set seq_length = 2 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_castor_oil2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_castor_oil1{% endblock %}

		{% block content %}
			<p>Tomar aceite de castor (ricino) con agua o jugo de fruta a veces ayuda a comenzar el trabajo de parto o a reforzarlo.  El trabajo de parto debería de comenzar en las 4 horas después de tomar el aceite de castor, si es que funciona.</p>

			<p>El aceite de castor causa calambres en el estómago y diarrea. Algunas veces, también causa vómitos.  Tener diarrea durante el trabajo de parto aumenta las posibilidades de una infección ya que un poquito de heces puede entrar en la vagina.  Las contracciones, junto con los calambres en el estómago, pueden hacer que el trabajo de parto se sienta muy rápido o sea abrumador para la madre.</p> 

			<p>Siempre adviértales a las mujeres que el aceite de castor tiene un sabor muy malo y que las va a hacer sentirse muy incómodas.  Recuérdeles que cuando vayan al baño y se limpien, se limpien de adelante hacia atrás para evitar que la vagina se contamine con heces.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Too_long_labor.html" rel="external" data-role="button" data-theme="c">Parto muy largo</a>
			</div>
		{% endblock %}

