{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_prevent_malaria{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo prevenir el paludismo</h2>
			 <img src="images/bugnet.png" class="hm-content-imgright" width="130"/> 
			<p>El paludismo se propaga a través de los zancudos (mosquitos).  Para prevenir el paludismo, evite las picaduras de zancudo:</p>
			<ul class="hm-content-noindent">
				<li>Deshágase de agua reposada y manténgase lejos de áreas donde hayan muchos zancudos.</li>
				<li>Use remedios locales para mantener a los zancudos lejos.  Algunas personas se ponen aceite de citronela en la piel.</li>
				<li>Utilice mangas largas y faldas largas o pantalones o póngase repelente de zancudos cuando éstos le estén picando.</li>
				<li>Duerma debajo de un mosquitero tratado o cuelgue cortinas tratadas en las puertas y ventanas. </li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Signs_of_malaria.html" rel="external" data-role="button" data-theme="c">Señas de paludismo</a>
				<a href="How_to_treat_malaria.html" rel="external" data-role="button" data-theme="c">Cómo tratar al paludismo</a>
			</div>
		{% endblock %}
