{% set pagetitle = "Cómo dar sulfato<br> de magnesio" %}
{% set seq_length = 2 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_magnesium_sulfate2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_magnesium_sulfate1{% endblock %}

		{% block content %}
			<p>El sulfato de magnesio se usa para detener los ataques (convulsiones). Esta medicina puede salvar la vida de una mujer, pero solo debe usarse en camino al hospital o al centro médico.</p>

			<p>Solo use el sulfato de magnesio si la presión de sangre de la mujer es más de 160/110 ó si la madre tiene un ataque. El sulfato de magnesio puede hacer que una mujer tenga problemas para respirar, especialmente si se le da demasiado.  Consiga ayuda médica inmediatamente si la respiración baja a menos de 12 respiraciones por minuto o si no ha orinado en 4 horas.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>
				<a href="How_to_inject_medicines_into_muscle.html" data-role="button" data-theme="c">Cómo poner una inyección</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">Qué hacer si tiene pre-eclampsia severa</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Qué hacer si ella tiene un ataque</a>
			</div>
		{% endblock %}

