{% set pagetitle = "Cómo revisar la<br> posición del bebé" %}
{% set seq_length = 4 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_check_the_babys_position1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_check_the_babys_position3.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_check_baby_position2{% endblock %}

		{% block content %}	
		<img src="images/MW0252A.png" class="hm-content-imgright" width="116"/> 
		<p>Empuje firmemente contra un lado del vientre. Con la otra mano, sienta hacia arriba y hacia abajo a lo largo del otro lado del vientre. ¿Qué siente?</p>
		<p>La espalda se siente firme. Los brazos y las piernas se sienten como pequeñas partes y puede desplazarse cuando presiona sobre ellas.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Baby_is_lying_sideways.html" rel="external" data-role="button" data-theme="c">Si el bebé está de lado dentro del vientre</a>
				<a href="How_to_change_babys_position.html" rel="external" data-role="button" data-theme="c">Ejercicios para cambiar la posición del bebé dentro del vientre</a>
			</div>
		{% endblock %}
