{% set pagetitle = "Cómo poner una inyección" %}
{% set seq_length = 8 %}
{% set seq_position = 4 %}
{% set seq_llink = "How_to_injection_from_ampule2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_inject_medicines_into_muscle4.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Injection_from_ampule3{% endblock %}

		{% block content %}	
		<ol class="hm-content-noindent hm-content-spacedlist" start="4">
			<li> <img src="images/needle.png" class="hm-content-imgright" width="105"/>Sostenga la jeringa con la&nbsp;aguja para arriba y déle golpecitos con los dedos al cuerpo de la jeringa para que suban todas las burbujas del aire que tenga. Luego, presione el émbolo de la jeringa hasta haberle sacado todo el aire de la jeringa.</li>
		</ol>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Sangrado después del parto</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">Qué hacer si tiene pre-eclampsia severa</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Qué hacer si tiene un ataque (convulsiones)</a>
			</div>
		{% endblock %}
