{% set pagetitle = "Cómo revisar la orina <br>para encontrar proteína" %}
{% set seq_length = 2 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_check_for_protein_in_urine1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_check_for_protein_in_urine2{% endblock %}

		{% block content %}
            <p><span class="hm-content-strong">Método 2:<br>
            Caliente la orina de la madre para revisar si hay proteína en la orina. </span></p>
            
           <p>Pídale a la madre que lave bien el área de los genitales y orine en un recipiente limpio. Luego, vierta la orina en un tubo de ensayo y deje 2 cm  de espacio entre la orina y el borde del tubo.</p> <p>  <img src="images/chunked_41.png" class=
            "hm-content-imgright" width="145">Caliente la parte superior del tubo sobre un pequeño quemador con la llama muy baja, o sobre una vela, hasta que hierva la orina. (Déle vuelta al tubo continuamente o podía romperse.)</p>

            <p>Si la orina no cambia de color o textura, la orina no contiene proteína.  Si la orina se vuelve turbia y blancuzca, agréguele unas gotas de vinagre (ácido acético 2%). Si deja de estar nublada, no hay proteína en la orina.  Si la orina se queda nublada aún después de agregarle el vinagre, o se pone aún más blanca, entonces sí contiene proteína.</p>
            
            <p>Si la mujer tiene proteína en la orina y presión de la sangre alta, tiene pre-eclampsia.  Cuando una mujer tiene pre-eclampsia severa, la orina puede volverse muy nublada, blanca y espesa.</p>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Pre-eclampsia_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Pre-eclampsia</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">Pre-eclampsia severa</a>
			</div>
		{% endblock %}

