{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_roll_nipples{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo sobar los pezones</h2>
			 <img src="images/chunked_42.png" class="hm-content-imgright" width="130"/> 
			<p>Sobar, apretar y masajear los pezones puede ayudar a una mujer a tener  contracciones más fuertes y empezar el trabajo de parto. Siga apretando y masajeando hasta que sus contracciones se hagan más fuertes. Si las contracciones no se hacen más fuertes dentro de media hora, es probable que el sobar los pezones no le ayudará.</p>

			<p>El sobar los pezones puede también ayudar a que la matriz se contraiga y así ayuda a detener el sangrado después del parto.</p>
		
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Sangrado después del parto</a>
				<a href="Water_breaks_no_labor.html" rel="external" data-role="button" data-theme="c">Si se rompe la fuente pero el trabajo de parto no empieza</a>
				<a href="Too_long_labor.html" rel="external" data-role="button" data-theme="c">Parto muy largo</a>
			</div>
		{% endblock %}
