{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_bleach_solution{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo hacer una solución<br> de cloro</h2>
			<p>De ser posible, utilice una solución de cloro de  0,5% para desinfectar las herramientas.  Si no tiene solución de cloro de 0,5%, puede hacer su propia solución mezclando cloro y agua.</p>
			
			<div class="hm-content-floatcontainer">
				<div class="clear"><span class="hm-content-alignleft hm-content-strong">Si la etiqueta<br> del cloro dice:</span><span class="hm-content-alignright hm-content-strong">Use:</span></div>

				<div class="clear"><span class="hm-content-alignleft">2% de cloro...</span><span class="hm-content-alignright">1 parte de cloro por<br> 3 partes de agua</span></div>
				<div class="clear" style="padding-top:10px;"><span class="hm-content-alignleft">5% de cloro...</span><span class="hm-content-alignright">1 parte de cloro por<br> 9 partes de agua</span></div>
				<div class="clear" style="padding-top:10px;"><span class="hm-content-alignleft">10% de cloro...</span><span class="hm-content-alignright">1 parte de cloro por<br> 19 partes de agua</span></div>
				<div class="clear" style="padding-top:10px;"><span class="hm-content-alignleft">15% de cloro...</span><span class="hm-content-alignright">1 parte de cloro por<br> 29 partes de agua</span></div>
			</div>
			<p class="clear">Remojar sus herramientas en la solución de cloro por 20 minutos antes de limpiarlas le ayudará a protegerse de una infección.</p> 

		
		
		{% endblock %}
