{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}If_she_has_a_bladder_infection{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Cómo tratar las infecciones de vejiga y riñón</h2>
			<p>
				Si la mujer tiene una infección de la vejiga, debe tomar por lo menos 1 vaso de líquido cada hora durante el tiempo que permanezca despierta para ayudar a eliminar la infección del cuerpo. El jugo de arándano, el té de barba de maíz y otros remedios caseros usualmente funcionan.
			</p>
			<p>Si la mujer no empieza a mejorarse rápidamente, o si tiene señas de una infección de riñón, debe tomar antibióticos.</p>
			
			<p><span class="hm-content-strong">Antibióticos para infección de la vejiga o de los riñones:</span><br>
			Dar 500 miligramos de amoxicilina por la boca 3 veces al día durante 7 días. Si ella es alérgica a la amoxicilina o a la penicilina, hay que darle 960 miligramos de cotrimoxazol por la boca 2 veces al día durante 7 días.  Cuidado: No debe administrarle cotrimoxazol a una mujer embarazada durante los últimos 3 meses de su embarazo.</p>

			<p><span class="hm-content-strong">Prevención:</span><br>
			<img src="images/CH18242A.png" class="hm-content-imgright" width="84px">Límpiese de adelante para atrás después de orinar o defecar para mantener a los gérmenes alejados del orificio donde orina. Recuérdeles a las parejas de las mujeres que deben de limpiarse bien las manos y los genitales antes de tener relaciones sexuales.  Las mujeres también deben orinar después de tener relaciones sexuales.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Signs_of_kidney_or_bladder_infection.html" data-role="button" data-theme="c">Señas de infección en los riñones o<br> en la vejiga</a>
			</div>
		{% endblock %}
