{% extends "templates.jinja/base.index.html" %}
{% block title %}Safe Pregnancy and Birth{% endblock %}
{% block headertitle %}El embarazo y el parto seguros{% endblock %}
{% block id %}home{% endblock %}
		{% block content %}
		<ul data-role="listview" data-theme="d" class="hm-menu hm-top-menu" data-inset="true">
			<li><a href="Staying_Healthy_During_Pregnancy.html" rel="external"><img src="images/PregIcon1-large.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Mantenerse sana durante<br/> el embarazo</span></a></li>
			<li><a href="Danger_Signs_During_Pregnancy.html" rel="external"><img src="images/PregIcon2-large.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Señas de peligro durante<br/> el embarazo</span></a></li>
			<li><a href="Danger_Signs_During_Birth.html" rel="external"><img src="images/PregIcon3-large.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Señas de peligro<br/> durante el parto</span></a></li>
			<li><a href="Danger_Signs_After_Birth.html" rel="external"><img src="images/PregIcon4-large.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">  Señas de peligro<br/> después de del parto</span></a></li>
			<li><a href="How_Tos.html" rel="external"><img src="images/PregIcon5-large.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Cómo hacerlo...</span></a></li>
		</ul>
		
		<div class="hm-horizontal-center hm-logo">
			<img src="images/hesperian_logo.png"/>
			<div class="hm-about-link"><a href="about.html" rel="external">Acerca de nosotros</a></div>
		</div>
		{% endblock %}
