{% extends "templates.jinja/base.about.html" %}
{% block title %}Safe Pregnancy and Birth{% endblock %}

{% block id %}license{% endblock %}
		{% block content %}
		<h2>Derechos de autor y créditos</h2>
		<div><p><span class="hm-content-strong">Contenido: </span>Todos los derechos reservados, derechos de autor Hesperian Health Guides. Para más información, favor de contactar a<a href="mailto:permissions@hesperian.org"> permissions@hesperian.org</a></p></div>
				<span class="hm-content-strong">Diseño:</span>
				<ul class="hm-content-nomargintop">
					<li>Zena Herman</li>
					<li>Tawnia Litwin</li>
					<li>Divya Ramachandran</li>
					<li>Y muchos otros miembros del personal de Hesperian</li>
				</ul>
				<span class="hm-content-strong">Traducción al español:</span>
				<ul class="hm-content-nomargintop">
					<li>Sofia Letona</li>
					<li>Todd Jailer</li>
					<li>Miriam Lara-Meloy</li>
					<li>Y muchos otros miembros del personal de Hesperian</li>
				</ul>
				<div>
			<p><span class="hm-content-strong">El código fuente de la aplicación:</span> Está disponible en <a href="https://github.com/saqimtiaz/hesperian-mhealth-pregnancy-warning-signs/" rel="external" target="_blank" class="external-site">github</a> bajo una licencia de MIT.</p>
				<span class="hm-content-strong">Colaboradores:</span>
				<ul class="hm-content-nomargintop">
					<li>UnaMesa Association</li>
					<li>Saq Imtiaz</li>				
					<li>Matthew Litwin</li>
					<li>FND</li>
				</ul>
			
		</div>
		{% endblock %}
