{% set pagetitle = '<a href="Common_complaints_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Dolencias comunes</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Nausea_during_pregnancy{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Náuseas</h2>
			<div class="hm-horizontal-center">
				 <img src="images/MW0204.png" width="203"/> 
			</div>
			<p>Muchas mujeres tienen náuseas los primeros meses del embarazo. Nadie sabe, a ciencia cierta, por qué, pero la forma en la que se alimentan influye, para la mayoría de las mujeres. Si las náuseas son moderadas, anime a la mujer a que intente uno de estos remedios:</p>
			<ul class="hm-content-noindent">
				<li>Comer comida que tenga proteína antes de acostarse o durante la noche.  Algunas comidas buenas en proteína son los frijoles, nueces y el queso.</li>
				<li>Comer algunas galletas saladas, pan seco, tortillas tostadas, pan tostado, chapatis tostados o cualquier otra comida hecha a base de granos cuando se levante en la mañana. </li>
				<li>Comer un poco varias veces al día en vez de tener 2 ó 3 comidas grandes al día y tomar sorbos pequeños de líquidos tan a menudo como pueda.</li>
				<li>Tomar 50 miligramos de vitamina B-6,<br> 2 veces al día (pero no tome más).</li>
				<li>Tomar una taza de té de jengibre, menta o canela 2 ó 3 veces al día, antes de cada comida.</li>
			</ul>
	
		{% endblock %}

