{% set pagetitle = '<a href="Things_to_avoid_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Lo que se debe evitar</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}People_with_rashes{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Personas que están enfermas</h2>
			 <img src="images/MW0135_.png" width="130" class="hm-content-imgright"/> 
			<p>Una mujer embarazada debe evitar estar cerca de personas que están enfermas para evitar enfermarse. Algunas enfermedades son particularmente peligrosas para las mujeres embarazadas y sus bebés.  Rubéola (sarampión alemán) es una enfermedad que puede causar graves defectos de nacimiento en el bebé, como la sordera y problemas del corazón.  Puede incluso causar la muerte.</p>

            <p class="clear">Existe una vacuna que previene la rubéola.  Las mujeres no deben ponerse esta vacuna mientras están embarazadas, pero su familia y sus hijos deben hacerlo.  Un programa de vacunación para toda la comunidad es la mejor protección para todas las mujeres.</p>

		{% endblock %}

