{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Preeclampsia_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Presíon de la sangre alta <br>y pre-eclampsia
			<img src="images/chunked_36.png" class="hm-content-imgright" width="116"/> 
			<p>La pre-eclampsia es cuando una mujer tiene:</p>
			<ul class="hm-content-noindent">
				<li>Presión de la sangre alta de (140/90 ó más), Y</li>
				<li>Proteína en la orina</li>
			</ul>			
			<div class="hm-content-important clear">Si una mujer tiene ambas señas, ya tiene pre-eclampsia y necesita ayuda médica inmediata.</div>
			<p>La pre-eclampsia puede causar sangrado, convulsiones, que el bebé nazca antes del tiempo, y hasta la muerte de la madre.</p>
			<p>Si la mujer solo tiene presión de la sangre alta, revísela una vez por semana para ver si sube la presión y vigílela para ver si presenta otras señas de pre-eclampsia.</p>
           <ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
                <li><a href="#Severe_preeclampsia">Señas de pre-eclampsia severa</a></li>
            </ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_take_blood_pressure1.html" data-role="button" data-theme="c">Cómo medir la presión de la sangre</a>
				<a href="How_to_check_for_protein_in_urine1.html" data-role="button" data-theme="c">Cómo revisar la orina para encontrar proteína</a>
				<a href="Her_blood_pressure.html" data-role="button" data-theme="c">Revisar para señas de pre-eclampsia durante el embarazo</a>				
			</div>
		{% endblock %}
