{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Seizures_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Ataques (convulsiones)</h2>
			<div class="hm-horizontal-center">
				 <img src="images/chunked_24.png" width="232"/> 
			</div>
			<p>Cuando una mujer tiene un ataque, puede presentar una o todas estas señas:</p>
			<ul class="hm-content-noindent">
				<li>Ojos en blanco</li>
				<li>Manos y rostro que se contorsionan</li>
				<li>Cuerpo duro, tieso o que se sacude</li>
				<li>Piel azul</li>
				<li>Un sonido fuerte y burbujeante al respirar</li>
				<li>Estar inconsciente</li>
			</ul>
			<p>Un ataque puede durar desde unos segundos hasta varios minutos.</p>
			<h3>¿Qué hacer si la madre tiene un ataque?</h3>
			 <img src="images/chunked_28.png" class="hm-content-imgright" width="174"/> 
			<ol class="hm-content-noindent">
				<li>Mantenerse calma.</li>
				<li>No coloque nada dentro de la boca de la madre. Deje que ella respire libremente.</li>
				<li>Coloque a la madre recostada sobre un lado para que no aspire su saliva o su vómito.</li>
				<li>Retire sujetadores del cabello o cualquier otro objeto filoso que pueda lastimar a la madre.</li>
				<li>Déle oxígeno, si lo tiene a la mano.</li>
				<li>Déle sulfato de magnesio, si sabe cómo hacerlo.</li>
			</ol>
			<p class="clear">Consiga ayuda médica tan pronto como pueda cuando el ataque se termine.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_give_magnesium_sulfate1.html" data-role="button" data-theme="c">Cómo dar sulfato de magnesio</a>
				<a href="Pre-eclampsia_during_pregnancy.html" data-role="button" data-theme="c">¿Qué es pre-eclampsia?</a>
				<a href="Severe_pre-eclampsia.html" data-role="button" data-theme="c">Señas de pre-eclampsia severa</a>
			</div>
		{% endblock %}
