{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Severe_abdominal_pain_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Dolor abdominal severo durante el embarazo </h2>
			 <img src="images/chunked_7.png" class="hm-content-imgright" width="102"/> 
			<p>Dolor abdominal severo en el vientre con o sin sangrado puede significar que la placenta se ha separado de la pared del útero.</p>
			<p>Otras señas de que la placenta se está separando del útero son:
			<ul class="hm-content-noindent">
				<li>Comienzan las contracciones antes de tiempo</li>
				<li>Hay dolor de espalda o de abdomen que continúa entre contracciones</li>
				<li>Contracciones frecuentes</li></ul>
			</p>
	
			<div class="hm-content-important clear">
				Esto es muy peligroso. Consiga ayuda médica para poder salvar a la madre y al bebé.
			</div>
			<p>Vigile a la madre para ver si presenta señas de choque y comience a darle fluidos por vía intravenosa si sabe cómo hacerlo.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">Qué hacer en el camino al hospital</a>
				<a href="Shock.html" data-role="button" data-theme="c">Señas de choque</a>
				<a href="Bleeding_during_labor.html" data-role="button" data-theme="c">Sangre roja durante el trabajo de parto </a>
			</div>
		{% endblock %}
