{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Severe_preeclampsia{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Señas de pre-eclampsia severa</h2>
			 <img src="images/chunked_26.png" class="hm-content-imgright" width="87"/> 
			<p>Estas son:</p>
			<ul class="hm-content-noindent">
				<li>Presión de la sangre de 160/110 ó mayor</li>
				<li>Dolores de cabeza muy fuertes</li>
				<li>La visión cambia y ve puntos, borroso o doble</li>
				<li>Dolor severo y continuo en la parte alta del vientre o del lado derecho, justo bajo las costillas</li>
				<li>Rostro hinchado, o hinchazón en todo el cuerpo al despertar </li>
				<li>Ataques (convulsiones)</li>
			</ul>
			
			<div class="hm-content-important clear">Si la madre tiene presión de la sangre alta  y cualquiera de estas señas, consiga ayuda médica inmediatamente para salvarle la vida.  Déle sulfato de magnesio en el camino al hospital y haga que se recueste en su lado izquierdo.</div>
			{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="Seizures_during_pregnancy.html" data-role="button" data-theme="c">Ataques (convulsiones)</a>
				<a href="How_to_give_magnesium_sulfate1.html" data-role="button" data-theme="c">Cómo dar el sulfato de magnesio</a>
				<a href="Her_blood_pressure.html" data-role="button" data-theme="c">Revisar la presión de la sangre de la madre</a>
				<a href="How_to_take_blood_pressure1.html" data-role="button" data-theme="c">Cómo medir la presión de la sangre</a>
				
			</div>
		{% endblock %}

