{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Shock{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Choque</h2>
			<p>El choque puede ser el resultado de un sangrado grave y es una condición peligrosa que puede ser fatal. Sangrar internamente también puede causar choque.</p>
			<p class="hm-content-strong">Señas:</p>
			<ul class="hm-content-noindent">
				<li>Latidos del corazón muy rápidos, más de 110 latidos por minuto</li>
				<li>Piel pálida, fría y húmeda</li>
				<li>Párpados interiores,  boca y palmas de las manos pálidos</li>
				<li>Respiración rápida, más de 30 respiraciones por minuto</li>
				<li>Confusión o estar inconsciente (desmayos) </li>			
			</ul>
			<div class="hm-content-important">Lleve a la mujer a un hospital rápidamente. Necesita atención médica de inmediato.</div>
			
			<h3>Cómo tratar a una mujer en choque</h3>
			 <img src="images/chunked_9.png" class="hm-content-imgright" width="290"/> 
			<ul class="hm-content-noindent">
				<li>Trate el sangrado o cualquier otra causa de choque.</li>
				<li>Recuéstela con su cabeza a un lado para que no se ahogue con su propio vómito. </li>
				<li>Coloque algo bajo sus piernas para levantarlas. Cúbrala con una manta o con ropa. Ayúdela a mantenerse calmada.</li>
				<li>Si puede beber, déle sorbos de agua o de bebida para rehidratarla. Si no puede beber, déle los líquidos por el recto.  Si sabe cómo, póngale una sonda intravenosa por goteo (IV) con una aguja ancha.</li>
			</ul>
			<p class="clear">Si está inconsciente, no le dé nada por la boca &ndash; nada de medicinas, comida o bebida, hasta que se haya despertado y haya estado despierta por lo menos por 1 hora.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">Cómo ayudar a la madre mientras la llevan al hospital</a>
            <a href="Bleeding-After_Birth.html" data-role="button" data-theme="c">Sangrado después del parto</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">Cómo dar líquidos por el recto</a>
			</div>
		{% endblock %}
