{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Signs_of_malaria{% endblock %}
		{% block content %}
			 <img src="images/new_art_093.png" class="hm-content-imgright" width="87"/> 
			<h2 class="hm-pagetitle">Señas de paludismo</h2>
			
			<p>Fiebre alta con escalofríos, dolores del cuerpo y dolor de cabeza severo pueden ser señas de paludismo. El paludismo es muy peligroso para una mujer embarazada y el bebé en su vientre. Un ataque de paludismo típico tiene 3 etapas:</p>
			
			<ol class="hm-content-noindent clear">
				<li>Empieza con escalofríos y muchas veces con dolor de cabeza. La mujer tiembla de frío de 15 minutos a 1 hora.</li>
				<li>Después de los escalofríos, hay fiebre, muchas veces de  40&#176;C (104&#176;F) o más. La mujer se pone débil, colorada y a veces extraviada. La fiebre dura varias horas o días.</li> 
				<li>Finalmente, ella empieza a sudar y la fiebre baja. Después de un ataque, la persona se siente débil pero más o menos bien.</li>		
			</ol>
			<p>Generalmente, el paludismo causa un ataque con fiebre cada 2 ó 3 días, pero puede ocurrir a diario o de vez en cuando.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada:</span>	
				<a href="How_to_treat_malaria.html" data-role="button" data-theme="c">Cómo tratar el paludismo</a>
				<a href="How_to_prevent_malaria.html" data-role="button" data-theme="c">Cómo prevenir el paludismo</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">Cómo medir la temperatura</a>
			</div>
		{% endblock %}
