{% set pagetitle = '<a href="Things_to_avoid_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Lo que se debe evitar</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Smoking_and_alcohol{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Fumar, beber alcohol y<br> tomar drogas</h2>
			 <img src="images/MW0143.png" width="102" class="hm-content-imgright"/> 
			<p>El humo del cigarrillo, el alcohol y otras drogas son dañinos para la madre.  Cuando una mujer embarazada fuma, bebe alcohol o consume drogas, esas drogas pasan por la sangre de la mujer hasta llegar al bebé.  Esto causa que los bebés nazcan más pequeños o nazcan muertos, y en muchos casos puede causar daño permanente al cerebro del bebé y a su cuerpo.</p>

		{% endblock %}

