{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Too_long_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Parto muy largo</h2>
			<img src="images/chunked_15.png" class="hm-content-imgright" width="116"/> 
            <p>Un parto muy largo puede conllevar a problemas de salud duraderos para la madre o puede ser una seña de que el bebé no puede salir solo, sin ayuda médica.  Un parto es demasiado largo cuando:  
				<ul class="hm-content-noindent">
					<li>La madre ha estado en trabajo de parto, fuerte y activo por más de 12 horas, O </li>
					<li>Ha estado pujando por más de 2 horas sin que existan señas de que el bebé va a nacer pronto.</li>
				</ul>
			</p>

			<p>Si no tiene contracciones cada 2 ó 3 minutos, o si ella aún puede hablar durante ellas, no está en trabajo de parto muy activo. Anímela a dormir.  Si no puede dormir, llévela a caminar, bailar un poco, o subir escaleras o una colina. Ayúdela a beber y comer comidas ligeras.</p>

			<p>Una vez que las contracciones estén ocurriendo de forma regular y sean fuertes, tenga en mente el tiempo. También esté atenta de lo lejos que está de algún lugar o persona que pueda ayudarla, si es necesario. Puede ser necesario reforzar el trabajo de parto en casa o buscar ayuda médica.</p>

            <ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
                <li><a href="What_to_do_strong_labor.html">Cómo reforzar el trabajo de parto</a></li>
            </ul>		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Water_breaks_no_labor.html" data-role="button" data-theme="c">Se rompe la fuente pero no hay trabajo de parto</a>
				<a href="Green_or_brown_waters.html" data-role="button" data-theme="c">Aguas verdes o cafés (marrones)</a>
			</div>
		{% endblock %}
