{% set pagetitle = '<a href="Things_to_avoid_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Lo que se debe evitar</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Unnecessary_medicines{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Medicinas innecesarias</h2>
			<img src="images/Gpicon2.png" width="87" class="hm-content-imgright"/> 
			<p>Todas las medicinas que una mujer embarazada consume, pasan a su bebé.  Algunas medicinas que son seguras para un adulto pueden causar defectos de nacimiento o dañar al bebé.  Las mujeres embarazadas deben evitar la mayoría de las medicinas. Para problemas menores como dolores de cabeza, dolores de estómago y resfríos, el descanso y los líquidos abundantes son el mejor tratamiento, aún mejor que las medicinas.</p>

			<p>Algunas de las enfermedades son demasiado peligrosas y dañinas como para no ser tratadas durante el embarazo.  Siempre hay que tratarse para el paludismo, enfermedades de la vejiga o de los riñones, VIH o SIDA y enfermedades de transmisión sexual.</p>

			<p>Pregúntele a un trabajador de la salud con experiencia cuando no sabe si una medicina en particular es segura o no durante el embarazo y durante la época de amamantar al bebé.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>	
				<a href="Malaria_during_pregnancy.html" data-role="button" data-theme="c">Paludismo</a>
				<a href="Signs_of_kidney_or_bladder_infection.html" data-role="button" data-theme="c">Infecciones de la vejiga o de los riñones</a>
			</div>
		{% endblock %}
