{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Water_breaks_no_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Se rompe la fuente pero no hay trabajo de parto</h2>
			<img src="images/chunked_1.png" class="hm-content-imgright" width="72"/> 
            
			<p>La mayoría de las mujeres dan a luz durante las 24 horas después de romperse la fuente. Si el trabajo de parto no empieza en las primeras 12 horas, la mujer y el bebé pueden contraer una infección seria.</p>

			<h3>Qué hacer si la fuente se rompe pero el trabajo de parto no inicia</h3>

			<p>La madre no debe colocar nada en la vagina. Esto puede causar una infección.</p>

			<p class="clear">Trate de reforzar el trabajo de parto. Si el trabajo de parto no inicia después de unas pocas horas, debe ir a un centro de la salud o a un hospital.</p>

			<div class="hm-content-important clear">
				No utilice inyecciones para dar inicio al trabajo de parto. Pueden causar contracciones que son tan fuertes que pueden matar a la madre o al bebé.
			</div>

			<p>Si la madre tiene fiebre o si la vagina huele mal, ya empezó a desarrollarse una infección. Déle antibióticos en el camino al hospital. </p>

			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
				<li><a href="How_to_treat_infection_during_labor.html">Antibióticos para tratar infecciones</a></li>
			</ul>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Información relacionada: </span>
				<a href="What_to_do_strong_labor.html" data-role="button" data-theme="c">Cómo reforzar el trabajo de parto </a> 
				<a href="Too_long_labor.html" data-role="button" data-theme="c">Parto muy largo</a>
				
			</div>
		{% endblock %}
