{% extends "templates.jinja/base.about.html" %}
{% block title %}Safe Pregnancy and Birth{% endblock %}

{% block id %}about{% endblock %}
		{% block content %}
		<h2>Safe Pregnancy and Birth<br>Version 0.9.1 beta, 2012</h2>
		<p class="hm-web hm-onlyios">This app is a collaboration between Hesperian and UnaMesa.</p>
		<p class="hm-only-android">This app is a collaboration between Hesperian and UnaMesa and is an open source project. This is a beta release and thus we are aware that it still needs a little work in places. We welcome feedback and code contributions to help us improve the experience.</p>
		<div class="about-box about-hm">
			<img src="images/hesperian_logo.png" style="width:102px;height:40px"/>
			<p>Hesperian  Health Guides is a non-profit publisher of books, newsletters and online resources for community-based health care.</p>
			<p>Visit Hesperian's <a href="http://www.hesperian.org" rel="external">digital commons</a> for more great resources.</p>
		</div>
		<div class="about-box about-um">
			<img src="images/um_logo.png" style="width:148px;height:35px"/>
			<p>The UnaMesa Association is a public charity dedicated to improving healthcare, education, and social services through innovations in technology and tools for sharing knowledge.</p>
			<p>Learn more at <a href="http://www.unamesa.org">www.unamesa.org</a></p>
		</div>
		<div class="hm-horizontal-center hm-logo">
			<div class="hm-about-link"><a href="license.html" rel="external">Copyrights and Credits</a></div>
		</div>
		{% endblock %}
