{% set pagetitle = '<a href="Things_to_check_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Things to check</a>' %}
{% set seq_length = 5 %}
{% set seq_position = 4 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Anemia_during_pregnancy{% endblock %}

		{% block content %}
			
			<h2 class="hm-pagetitle">Signs of anemia</h2>
			
			<p>Anemia is lack of iron in the blood. Anemia is especially dangerous for pregnant women because blood is lost during birth. This can make the anemia so severe the woman can die.</p>
			 <img src="images/anemia_signs.png" width="87" class="hm-content-imgright"/> 
			<p><span class="hm-content-strong">Signs of anemia</span></p>
			<ul class="hm-content-noindent">
				<li>Pale inner eyelids, inside of lip, or skin under the fingernails</li>
				<li>Weakness and feeling very tired</li>
				<li>Dizziness, especially when getting up from a sitting or lying position</li>
				<li>Fainting (loss of consciousness)</li>
				<li>Shortness of breath</li>
				<li>Fast heartbeat</li>
			</ul>
			
            <p>If a woman has signs of anemia she should eat foods with a lot of iron. Or she can take 300 mg of ferrous sulfate (or enough to provide 60 mg iron), 2 times a day until the baby is born. If she takes iron tablets with fruit, her body will use the iron better.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Foods_with_iron.html" rel="external" data-role="button" data-theme="c">Foods with iron</a>
			</div>
		{% endblock %}
