{% set pagetitle = '<a href="Things_to_check_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Things to check</a>' %}
{% set seq_length = 5 %}
{% set seq_position = 4 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Anemia_during_pregnancy{% endblock %}

		{% block content %}
			
			<h2 class="hm-pagetitle">Signs of Anemia</h2>
			
			<p>Pregnant women with anemia are more likely to bleed too much at birth, which can be deadly.</p>
			<img src="images/anemia_signs.png" width="30%" class="hm-content-imgright"/>
			<p><span class="hm-content-strong">Signs of Anemia</span></p>
			<ul class="hm-content-noindent">
				<li>Pale inner eyelids, inside of lip, or skin under the fingernails</li>
				<li>Weakness and feeling very tired</li>
				<li>Dizziness, especially when getting up from a sitting or lying position</li>
				<li>Fainting (loss of consciousness)</li>
				<li>Shortness of breath</li>
				<li>Fast heartbeat</li>
			</ul>
			
			<p>If a woman has signs of anemia she should eat foods with a lot of iron. Or she can take 325 mg of iron tablets, 2 times a day, and 1 mg of folic acid once a day, until the baby is born. If she takes iron tablets with fruits like oranges, mangoes, or papayas her body will use the iron better.</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Signs_of_kidney_or_bladder_infection.html" rel="external">Other things to check</a></li>
			</ul>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Foods_with_iron.html" rel="external" data-role="button" data-theme="c">Foods with iron</a>
			</div>
		{% endblock %}
