{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Baby_is_lying_sideways{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Baby is lying sideways (transverse)</h2>
			<img src="images/chunked_3.png" class="hm-content-imgright" width="35%"/>
			<div class="hm-content-important" width="60%">Do not try to change the position of the baby once labor has started. This can separate the placenta from the womb wall.</div>
			
			<p>If a baby is sideways near the end of the pregnancy, make a plan for the mother to give birth in a hospital. A baby lying sideways cannot be born without an operation.</p>
			<p class="clear">If labor has already started and the baby is sideways, take the mother to a hospital to save her and her baby's life.</p>
					
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" data-role="button" data-theme="c">How to check the baby's position</a>
				<a href="javascript:;" data-role="button" data-theme="c">Exercise to change the baby's position</a>
			</div>
		{% endblock %}
