{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_second_half_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Bleeding during the second half of pregnancy</h2>
			 <img src="images/chunked_7.png" class="hm-content-imgright" width="102"/> 
			<p>Bleeding during the second half of pregnancy could mean the placenta is in the wrong place or has detached from the womb. Both are serious problems.</p>
			<div class="hm-content-important clear">Bleeding during the second half of pregnancy is very dangerous. Get medical help to save the mother and the baby. Watch the woman for signs of shock.</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Shock.html" data-role="button" data-theme="c">Signs of shock</a>
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="Bleeding_during_labor.html" data-role="button" data-theme="c">Red blood during labor</a>				
			</div>
		{% endblock %}
