{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_Before_Placenta{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Too much bleeding<br> before the placenta comes out</h2>
			
			 <img src="images/chunked_13.png" class="hm-content-imgright" width="145"/> 
			<ul class="hm-content-noindent">
			<li>Ask the mother to squat and push the placenta out.</li>
			<li>Ask her to urinate. A full bladder prevents the womb from contracting.</li>
			<li>Put the baby to the mother's breast to start suckling. If the baby will not suckle, have the mother roll her nipples. This will help her womb contract and push the placenta out.</li>
			<li>Give 10 units of oxytocin by injection in the buttock or thigh, or give 400 mcg of misoprostol by mouth, one time only.</li>
			</ul>			
			<div class="hm-content-important clear">
				A woman who is bleeding a lot is in danger of shock. Check her for signs of shock.
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_inject_medicines_into_muscle.html" data-role="button" data-theme="c">How to give an injection</a>
				<a href="Shock.html" data-role="button" data-theme="c">Signs of shock</a>
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">How to roll nipples</a>
			</div>
		{% endblock %}
