{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Bleeding_during_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Bleeding during labor, before the baby is born</h2>
			<p>Some light, pink-colored fluid, or mucus and brown blood during labor is normal. But if the mother is bleeding bright red blood, it could mean that the placenta is separating from the womb wall or is covering the opening of the womb.</p>
			<div class="hm-content-important clear">
			This is very dangerous. Take the mother to the hospital right away. Watch the mother for signs of shock.
			</div>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" data-role="button" data-theme="c">Signs of shock</a>
				<a href="javascript:;" data-role="button" data-theme="c">What to do on the way to the hospital</a>
			</div>
		{% endblock %}
