{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Bleeding_first_half_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Bleeding during the first half of pregnancy: miscarriage</h2>
			 <img src="images/miscarriage.png" class="hm-content-imgright" width="130"/> 
			<p>Bleeding as much as monthly bleeding during the first half of pregnancy is usually a miscarriage (losing a pregnancy) and is not usually dangerous. But Watch for danger signs like too much bleeding, or signs of infection such as fever, feeling faint, or a bad smell from the vagina.</p>
			<p>Women who have had miscarriages or abortions may feel afraid, sad, or upset. This emotional pain is just as important as the pain women have in their bodies. </p>
		
		{% endblock %}
