{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Common_complaints_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading hm-content-submenuheading">Common complaints<br>during pregnancy</h2>
			
			<ul data-role="listview" data-theme="c" class="hm-submenu">
				<li><a href="Tiredness_during_pregnancy.html" rel="external">Tiredness</a></li>
				<li><a href="Increased_vaginal_discharge.html" rel="external">Increased vaginal discharge</a></li>
				<li><a href="Nausea_during_pregnancy.html" rel="external">Nausea</a></li>
				<li><a href="Cravings_during_pregnancy.html" rel="external">Cravings</a></li>
			</ul>
		{% endblock %}
