{% set pagetitle = '<a href="Common_complaints_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Common complaints</a>' %}
{% set seq_length = 4 %}
{% set seq_position = 4 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Cravings_during_pregnancy{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Cravings</h2>
			
			<img class="hm-content-imgright" src="images/junk.food-crossedout.png" width="40%"/>
			
			<p>A food craving is a strong desire to eat a certain food, or even something that is not food at all, like dirt, chalk, or clay. If a woman gets a craving for nutritious foods (like beans, eggs, fruits, and vegetables), it is OK for her to eat as much as she wants.<p>

			<p>A woman who wants a lot of "junk food" (like candy, soda, or packaged snacks) should eat nutritious food first.</p> 

			<p>A woman who craves things that are not food, like dirt or clay, should not eat them. They may poison her and her baby, or make her sick. This may be a sign that she needs more protein and iron-rich foods in her diet.</p>			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Eating_well_during_pregnancy.html" data-role="button" data-theme="c">Eating well during pregnancy</a>
				<a href="Anemia_during_pregnancy.html" data-role="button" data-theme="c">Signs of anemia</a>
			</div>
		{% endblock %}
