{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block id %}Danger_Signs_During_Pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Danger Signs<br>During Pregnancy</h2>
			
			<ul data-role="listview" data-theme="c" class="hm-menu">
				<li class="hm-disabled"><a href="javascript:;" rel="external"><img src="images/PRE55.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Bleeding</span></a></li>
				<li><a href="Severe_abdominal_pain_in_pregnancy.html" rel="external"><img src="images/PRE74.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Severe pain in abdomen</span></a></li>
				<li class="hm-disabled"><a href="javascript:;" rel="external"><img src="images/PRE74.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">High blood pressure</span></a></li>
				<li class="hm-disabled"><a href="javascript:;" rel="external"><img src="images/PRE74.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Seizures/Fits</span></a></li>							
			</ul>
		{% endblock %}
