{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block id %}Danger_Signs_During_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Danger Signs<br>During Birth</h2>
			
			<ul data-role="listview" data-theme="c" class="hm-menu" data-inset="true">
				<li class="hm-disabled"><a href="javascript:;" rel="external"><img src="images/submenu-long_labor.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Too long labor</span></a></li>
				<li><a href="Water_breaks_no_labor.html" rel="external"><img src="images/submenu-water_breaks.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Waters break but no labor</span></a></li>
				<li><a href="Green_or_brown_waters.html" rel="external"><img src="images/submenu-green_water.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Green or brown waters</span></a></li>
				<li class="hm-disabled"><a href="javascript:;" rel="external"><img src="images/submenu-seizures.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Seizures/Fits</span></a></li>
				<li><a href="Fever_during_labor.html" rel="external"><img src="images/submenu-fever.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Fever</span></a></li>
				<li><a href="Bleeding_during_labor.html" rel="external"><img src="images/submenu-bleeding_labor.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Bleeding</span></a></li>
			</ul>
		{% endblock %}
