{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Danger_Signs_After_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Danger Signs<br>After Birth</h2>
			
			<ul data-role="listview" class="hm-menu">
				<li><a href="javascript:;" rel="external"><img src="images/chunked_30.gif"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Bleeding</span></a></li>
				<li><a href="javascript:;" rel="external"><img src="images/chunked_30.gif"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-singleline">Fever</span></a></li>
				<li><a href="How_to_take_blood_pressure1.html" rel="external"><img src="images/chunked_30.gif"/><span  class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Made Up Longer Link<br> Across 2 Lines</span></a></li>
			</ul>
		{% endblock %}
