{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Danger_Signs_After_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Danger Signs<br>After Birth</h2>
			
			<ul data-role="listview" data-inset="true" class="hm-menu">
				<li><img src="images/chunked_30.gif"/><a href="javascript:;" rel="external"><span class="wrapper">Bleeding</span></a></li>
				<li><img src="images/chunked_30.gif"/><a href="javascript:;" rel="external"><span class="wrapper">Fever</span></a></li>
				<li><img src="images/chunked_30.gif"/><a href="How_to_take_blood_pressure1.html" rel="external"><span  class="wrapper">Eating Well During Pregnancy</span></a></li>
				<li><img src="images/chunked_30.gif"/><a href="Danger_Signs_After_Birth.html" rel="external"><span class="wrapper">Things to Avoid During Pregnancy</span></a></li>
			</ul>
		{% endblock %}
