{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Eating_well_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Eating well during pregnancy</h2>
			<img src="images/NUT169De.gif" class="hm-content-imgright" width="35%"/>
			<p>A woman who eats well is much more likely to have a healthy pregnancy and healthy baby. Eating well helps a woman and her baby stay healthy and strong.</p>
			<span class="clear"></span>
			<img src="images/protein-foods.gif" class="hm-content-imgright" width="45%"/>
			<p>Pregnant women need to eat more than usual. The extra food gives them enough energy and strength, and helps their babies grow.</p>

			<p>It is important for pregnant women to eat a variety of food. She should try to eat some foods from each of these 3 groups every day:</p>
			
			<p><b>Carbohydrates:</b> such as rice, maize, wheat, millet, cassava, taro, or plantain.</p>
			
			<p><b>Proteins:</b> such as beans, peas, lentils, eggs, nuts and seeds, cheese, milk, yogurt, meat, fish or insects.</p>
			
			<p><b>Fruits and vegetables:</b> such as leafy greens, carrots, cabbage, peppers, oranges, melons, pineapple, papayas or mangoes.</p>
			
			<h2 class="hm-pagetitle">Eating iron-rich foods during pregnancy</h2>
			
			<p>Pregnant women are especially at risk for anemia (weak blood). Anemic women are more likely to bleed too much at birth, which can be deadly.</p>
			<img src="images/NUT167A.gif" class="hm-content-imgright" width="45%" />
			<p>Eating more foods with iron will help prevent and treat anemia. Foods with a lot of iron include:</p>
			<ul>
				<li>Meat (especially liver, kidney, and other organ meats).</li>
				<li>Beans, peas and lentils.</li>
				<li>Fish</li>
				<li>Eggs</li>
				<li>Dark green leafy vegetables</li>
			</ul>
			
			<div class="hm-content-relatedlinks">
				<a href="javascript:;" data-role="button" data-theme="c">Signs of anemia</a>
			</div>
		{% endblock %}
