{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Fever_After_Birth{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Fever after birth</h2>
			
			<img src="images/PRE74.png" class="hm-content-imgright" width="50%"/>
			<p>
				If the mother has a fever during the first weeks after the birth, she may have an infection of the womb. Other signs of womb infection are:
			</p>
			<ul class="hm-content-noindent clear">
				<li>Chills</li>
				<li>Pain and tenderness in the belly</li>
				<li>Bad-smelling fluid from the vagina</li>
			</ul>			
			<div class="hm-content-important clear">
				Womb infection is very dangerous. It must be treated or the woman can become infertile or die. 
			</div>
			<p>
				Go to a medical center for antibiotics. If medical help is more than an hour away, give one of the following antibiotics on the way:
				<ul class="hm-content-noindent clear">
					<li>Give 2g ampicillin by mouth, 4 times a day for 7 to 10 days, AND</li>
					<li>Give 400 to 500mg metronidazole by mouth 3 times a day, for 7 to 10 days.</li>
				</ul>
			</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" data-role="button" data-theme="c">How to take temperature</a>
				<a href="javascript:;" data-role="button" data-theme="c">How to lower a fever</a>
			</div>
		{% endblock %}
