{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Fever_during_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Fever during labor</h2>
			 <img src="images/ill-pregnant-_ee.png" class="hm-content-imgright" width="130"/> 
			<p>It can be normal for a woman to get warm in labor. This may be because she is dehydrated. Give rehydration drink.</p>
			<p>A fever above 38&deg;C (100.4&deg;F) is usually a sign of infection. Give antibiotics on the way to the hospital. </p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
                <li><a href="How_to_treat_infection_during_labor.html">Antibiotics to treat infection</a></li>
            </ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">How to lower a fever</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">How to take temperature</a>
				<a href="How_to_make_rehydration_drink1.html" data-role="button" data-theme="c">How to make rehydration drink</a>
			</div>
		{% endblock %}
