{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Fever_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Fever during pregnancy</h2>
			<p>If a woman has a fever during pregnancy, it could be caused by malaria, a sickness like flu, a bladder or kidney infection, or dehydration. Find the cause of the fever and treat it.</p>
			<img src="images/MW0240E.png" class="hm-content-imgright" width="45%"/>
			<p>Along with the fever does she also:</p>
			<ul class="hm-content-noindent hm-content-spacedlist">
				<li>Have shivering, body aches and severe headache? She might have malaria.</li>
				<li class="clear">Have a cough, stuffy nose, and feel weak in her body? She might have the flu.</li>
				<li>Feel the need to urinate more often or have pain or burning with urination? She might have a bladder or kidney infection.</li>
				<li>Feel thirsty, have little or no urine, dry mouth, feel dizzy when standing up, or have loss of stretchiness in her skin? She may be dehydrated. Give rehydration drink.</li>
			</ul>
			<p>Along with treating the cause, a high fever needs to be lowered right away.</p>				
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Signs of malaria</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Signs of bladder and kidney infections</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">How to make rehydration drink</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">How to lower a fever</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">How to check temperature</a>
			</div>
		{% endblock %}
