{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Foods_with_iron{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Foods with iron</h2>
			<div class="hm-horizontal-center">
				<img src="images/NUT167A.png" width="90%"/>
			</div>
			<p>Pregnant women are especially at risk for anemia (weak blood). Anemic women are more likely to bleed too much at birth, which can be deadly.</p>
			
			<p>Eating more foods with iron will help prevent and treat anemia. Foods with a lot of iron include:</p>
			<ul class="hm-content-noindent">
				<li>Meat (especially liver, kidney, and other organ meats).</li>
				<li>Beans, peas, and lentils.</li>
				<li>Fish.</li>
				<li>Eggs.</li>
				<li>Dark green leafy vegetables.</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" data-role="button" data-theme="c">Signs of anemia</a>
			</div>
		{% endblock %}
