{% set pagetitle = '<a href="Things_to_check_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Things to check</a>' %}
{% set seq_length = 5 %}
{% set seq_position = 2 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Her_blood_pressure{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Blood pressure</h2>
			 <img src="images/chunked_36.png" width="130" class="hm-content-imgright"/> 

			<p>
				Check the mother's blood pressure at each visit during pregnancy. Write it down so you can look for changes over time.
			</p>

			<p class="clear">
				<span class="hm-content-strong">Healthy sign:</span> Blood pressure stays between 90/60 and 140/90 and does not go up much during pregnancy.
			</p>

			<p>
				<span class="hm-content-strong">Warning sign:</span> High blood pressure. The woman has high blood pressure if the top number is over 140 or the bottom number is over 90.
			</p>

			<p>This can be a sign of pre-eclampsia which is a dangerous disease of late pregnancy.</p>
			<p>If her blood pressure is very high (160/110) she has severe pre-eclampsia and needs medical help right away.</p>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_take_blood_pressure1.html" data-role="button" data-theme="c">How to check blood-pressure</a>
				<a href="Pre-eclampsia_during_pregnancy.html" data-role="button" data-theme="c">What is pre-eclampsia</a>
				<a href="Severe_pre-eclampsia.html" data-role="button" data-theme="c">Severe pre-eclampsia</a>
			</div>
		{% endblock %}
