@import url('jquery.mobile/jquery.mobile-1.0a4.1.min.css');

/* Do not aggressively elide list item text. */
.ui-li-desc {
white-space: normal;
}

/*
Workaround for iPhone / WebKit bug where headers and footers can disappear after page animation.
 http://forum.jquery.com/topic/question-about-header-footer-in-jquery-mobile-alpha3 
*/
.ui-page { z-index: 1}
.ui-header { z-index: 10 }
.ui-header * { z-index: 20 }

/* start of css for sequence-bar*/
.sequence-bar {
	border-bottom: 2px solid #6B94BC;
	border-top: 2px solid #efefef;
	background-color: #DDE6F2;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DDE6F2), color-stop(.5,#EDF1F8));
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EDF1F8 50%, #DDE6F2 100%);
}
 
.sequence-bar h2.sequence-title {
	font-size: 15px;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	margin-bottom:0;
}

.sequence-dots {
	text-align: center;
}

.circle{
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#cfcfcf;
	font-size:4px;
	color:#fff;
	line-height:10px;
	text-align:center;
	margin: 0 2px;
}

.circle.active {
	background:#444;
}

.seq-nav-button img {
	height: 21px;
	width: 13px;
}

.seq-nav-button-left img{
	float:left;
	margin-left:5px;
}

.seq-nav-button-right img{
	float:right;
	margin-right:5px;
}

.clear {
	clear:both;
	display:block;
}
/* end of css for sequence-bar*/

/*change background color of pages to white*/
.ui-body-c {
	background:#fff;
}

/*allow wrapping of links in listview menus*/
.ui-li .ui-btn-text a.ui-link-inherit {
	white-space:normal;
	/* following two lines indent the second line of wrapped links
	padding-left:45px;
	text-indent:-30px;
	*/
}

/* temporary styling on navbar icons for demonstration purposes*/
.ui-header .ui-navbar.top-navbar .ui-btn-inner {
	padding-top: 2px;
	padding-bottom: 2px;
}

.ui-header .ui-navbar.top-navbar .ui-btn-inner img {
	height: 40px;
}
/* end temporary styling*/

.hidden {
	visibility: hidden;
}

.red {
	background:red;
}

.ui-content {
	font-size: 80%;
	padding: 15px 15px;
}

/* start Hesperian mobile content css */
.hm-content-imgleft {
	float: left;
	margin: 5px 5px 10px 0;
}

.hm-content-imgright {
	float: right;
	margin: 5px 0 5px 10px;
}

.hm-horizontal-center {
	text-align: center;
	padding: 0;
	margin: 0;
}

div.hm-content-relatedlinks {
	background: url("images/finger.png") no-repeat scroll 0 0 transparent;
	background-size: 50px auto;
	padding-left: 50px;
	margin-left: -10px;
	margin-top: 30px;
	clear: both;
}
div.hm-content-relatedlinks .ui-li .ui-btn-inner a.ui-link-inherit {
	padding-right: 10px;
	padding-left: 10px;
}
