# @import lines will be added above here by the build process

/* Do not aggressively elide list item text. */
.ui-li-desc {
white-space: normal;
}

/*
Workaround for iPhone / WebKit bug where headers and footers can disappear after page animation.
 http://forum.jquery.com/topic/question-about-header-footer-in-jquery-mobile-alpha3 
*/
.ui-page { z-index: 1}
.ui-header { z-index: 10 }
.ui-header * { z-index: 20 }

/* start of css for sequence-bar*/
.sequence-bar {
	/*border-bottom: 2px solid #6B94BC;
	border-top: 2px solid #efefef;
	background-color: #DDE6F2;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DDE6F2), color-stop(.5,#EDF1F8));
	background: -moz-linear-gradient(top, #FFFFFF 0%, #EDF1F8 50%, #DDE6F2 100%);*/
}
 
.sequence-bar h2.sequence-title {
	font-size: 135%;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	margin-bottom:0;
	color: #066;
	font-weight:bold;
}

.sequence-dots {
	margin-top: 5px;
	text-align: center;
}

.circle{
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#cfcfcf;
	font-size:4px;
	color:#fff;
	line-height:10px;
	text-align:center;
	margin: 0 2px;
}

.circle.active {
	background:#444;
}

.seq-nav-button img {
	height: 21px;
	width: 13px;
}

.seq-nav-button-left img{
	float:left;
	margin-left:5px;
}

.seq-nav-button-right img{
	float:right;
	margin-right:5px;
}

.clear {
	clear:both;
	display:block;
}
/* end of css for sequence-bar*/

/*change background color of pages to white*/
.ui-body-c, .ui-body-b {
	background:#fff;
}

/*allow wrapping of links in listview menus*/
.ui-li .ui-btn-text a.ui-link-inherit, .ui-btn-text {
	white-space:normal;
	/* following two lines indent the second line of wrapped links
	padding-left:45px;
	text-indent:-30px;
	*/
}

/* temporary styling on navbar icons for demonstration purposes*/
.ui-header .ui-navbar.top-navbar .ui-btn-inner {
	padding-top: 4px;
	padding-bottom: 0px;
}

.ui-header .ui-navbar.top-navbar .ui-btn-inner img {
	height: 44px;
	width: 44px;
}
/* end temporary styling*/

.hidden {
	visibility: hidden;
}

.red {
	background:red;
}

.ui-content {
	font-size: 90%;
	padding: 15px 15px;
}

/* start Hesperian mobile content css */
.hm-content-imgleft {
	float: left;
	margin: 5px 3px 5px 0;
}

.hm-content-imgright {
	float: right;
	margin: 5px 0 5px 3px;
}

.hm-horizontal-center {
	text-align: center;
	padding: 0;
	margin: 0;
}

div.hm-content-relatedlinks {
	/*background: url("images/finger.png") no-repeat scroll 0 0 transparent;
	background-size: 50px auto;
	padding-left: 50px;
	margin-left: -10px;*/
	margin: 15px 0 0;
	clear: both;
	border-top: 1px solid #87A9D3;
	padding: 25px 15px 10px;
	font-size: 80%;
}

div.hm-content-relatedlinks {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDE6F2), to(#FFFFFF), color-stop(.5,#EDF1F8));
	background: -moz-linear-gradient(top, #DDE6F2 0%, #EDF1F8 50%, #FFFFFF 100%);
	padding-top: 10px;
}

div.hm-content-relatedlinks .hm-content-strong {
	padding-bottom:5px;
	display: inline-block;
}

.ui-content div.hm-content-relatedlinks ul.ui-listview-inset{
	margin-top: 0;
}

div.hm-content-relatedlinks .ui-li .ui-btn-inner a.ui-link-inherit, div.hm-content-relatedlinks a {
	/*padding-right: 10px;
	padding-left: 10px;*/
	color: #369;
	text-align:left;
}

div.hm-content-relatedlinks .ui-btn-inner {
	padding: 0.6em 8px;
}

div.hm-content-relatedlinks .ui-btn-corner-all {
	border-radius: 0.5em;
}

.hm-content-essentiallinks .ui-li .ui-btn-inner a.ui-link-inherit {
	padding-right: 20px;
	padding-left: 10px;
	font-size: 100%;
}

h2.hm-content-menuheading {
	color: #066;
	margin-top: 0;
	font-size: 190%;
	text-align: center;
	margin-bottom: 35px;
}

h2.hm-content-submenuheading {
	/*background: #EDEDD3;*/
	margin: -15px -15px 15px -15px;
	padding: 15px;
}

ul.hm-submenu {
	font-size: 100%;
}

.hm-content-underline {
	text-decoration: underline;
}

.hm-content-strong {
	font-weight: bold;
}

ul.hm-content-noindent {
	padding-left: 10px;
}

ul.hm-content-spacedlist li{
	margin-bottom: 1em;
}

ul.hm-menu .ui-li-thumb, ul.hm-menu .ui-li-icon {
	height: 80px;
	width: 120px;
	max-height: 80px;
    max-width: 90px;
}

ul.hm-menu .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, ul.hm-menu .ui-li-static.ui-li-has-thumb {
    padding-left: 100px;
    padding-right: 10px;
}

.hm-menu-linkwrapper {
	display:block;
	padding:0;
	margin:0;
	/*visibility: hidden;*/
}

.hm-menu-linkwrapper-singleline {
	margin-top: 21.5px;
}

.hm-menu-linkwrapper-doubleline {
	margin-top: 13px;
}

.ui-header .hm-home .ui-btn-corner-all,.ui-header .hm-home.ui-btn-corner-all {
	border-radius: 0.5em;
	font-size: 17px;
	
}
.ui-header .ui-btn-corner-all {
	border-radius: 0.5em;
}

.ui-header .ui-btn-left {
	top: 0.8em;
	left: 5px;
}
.ui-header .ui-title {
	overflow:visible;
	margin: 0.6em 80px;
}

.ui-header .hm-home .ui-btn-inner {
	padding: 0.2em 8px 0.3em;
}

.ui-header .ui-btn-inner {
	padding: 0.4em 5px 0.5em;
}

h2.hm-pagetitle {
	color: #17375E;
	text-align: center;
	margin-top: 0;
	font-size: 135%;
}


.hm-content-relatedlinks {
	margin-top: 20px;
}
