{% set pagetitle = "How to make<br>rehydration drink" %}
{% set seq_length = 3 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_make_rehydration_drink1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_make_rehydration_drink3.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_rehydration_drink2{% endblock %}

		{% block content %}	
			<p class="hm-content-strong">1. Drink made with powdered cereal and salt.</p>
			<img src="images/bottle.png" class="hm-content-imgright" width="15%"/>
			<p>(Powdered rice is best. But you can use finely ground maize, wheat flour, sorghum, or cooked and mashed potatoes.)</p>
			<p>In 1 liter of clean water</p>
			<p class="clear hm-content-floatcontainer"><img src="images/salt_spoon.png" class="hm-content-imgright" width="20%"/>put half of level teaspoon of salt,</p>
			<p class="clear hm-content-floatcontainer"><img src="images/cereal.png" class="hm-content-imgright" width="40%"/>and 8 heaping teaspoons of powdered cereal.</p>
			<p class="clear"><span class="hm-content-strong">Boil for 5 to 7 minutes</span> to form a liquid gruel or watery porridge.  Cool the drink quickly and begin to give it to the sick person.</p>
			<p><span class="hm-content-strong">Caution: Taste the drink each time before you give it to make sure that it is less salty than tears</span> and that it has not spoiled. Cereal drinks can spoil within a few hours in hot weather.</p>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">How to treat for shock</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">How to give rectal fluids</a>
				<a href="Fever_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Fever during pregnancy</a>
			</div>
		{% endblock %}
