{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block id %}How_Tos{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">How Tos</h2>
			
			<ul data-role="listview" data-theme="c" data-inset="true">
				<li><a href="How_to_take_blood_pressure1.html" rel="external">How to take blood pressure</a></li>
				<li><a href="How_to_check_for_protein_in_urine1.html">How to check for urine for protein</a></li>
				<li><a href="How_to_take_temperature1.html" rel="external">How to take temperature</a></li>
				<li><a href="How_to_make_bleach_solution.html" rel="external">How to make bleach solution</a></li>
				<li><a href="How_to_prevent_malaria.html" rel="external">How to prevent malaria</a></li>
				<li><a href="How_to_suction_babys_nose_mouth1.html">How to suction a baby's mouth</a></li>
				<li><a href="How_to_make_rehydration_drink1.html" rel="external">How to make rehydration drink</a></li>
				<li><a href="How_to_rub_the_womb.html" rel="external">How to rub the womb</a></li>
				<li><a href="How_to_help_get_woman_to_hospital.html" rel="external">How to help her get to the hospital</a></li>
				<li><a href="How_to_check_the_babys_position1.html" rel="external">How to check the baby's position</a></li>
				<li><a href="Shock.html" rel="external">How to treat someone in shock</a></li>
				<li><a href="How_to_inject_medicines_into_muscle.html" rel="external">How to give an injection</a></li>
				<li><a href="How_to_give_magnesium_sulfate1.html" rel="external">How to give magnesium sulfate</a></li>
				<li><a href="How_to_give_castor_oil1.html" rel="external">How to give castor oil</a></li>
				<li><a href="How_to_treat_malaria.html" rel="external">How to treat malaria</a></li>
				<li><a href="How_to_give_medicine_to_stop_bleeding.html">How to give medicine to stop bleeding</a></li>
				<li><a href="How_to_change_babys_position.html" rel="external">How to change the baby's position</a></li>
				<li><a href="How_to_roll_nipples.html" rel="external">How to roll nipples</a></li>
				<li><a href="How_to_give_rectal_fluids1.html" rel="external">How to give rectal fluids</a></li>
				<li><a href="How_to_lower_fever.html" rel="external">How to lower a fever</a></li>
			</ul>
		{% endblock %}
