{% set pagetitle = "How to give rectal fluids" %}
{% set seq_length = 6 %}
{% set seq_position = 6 %}
{% set seq_llink = "How_to_give_rectal_fluids5.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_rectal_fluids6{% endblock %}

		{% block content %}	
			 <img src="images/chunked_10.png" class="hm-content-imgright" width="145"/> 
			<ol start="10" class="hm-content-noindent hm-content-spacedlist">
				<li> Transport the woman for medical help right away. If the woman is still in shock, you can give more rectal fluids one hour later. If she is not in shock, try to give sips of rehydration drink as you transport her.</li>
			</ol>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">How to make rehydration drink</a>
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Signs of shock</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">How to lower a fever</a>
			</div>
		{% endblock %}
