{% set pagetitle = "How to give castor oil" %}
{% set seq_length = 2 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_castor_oil2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_castor_oil1{% endblock %}

		{% block content %}
			<p>A drink of castor oil and fruit juice can sometimes start or strengthen labor. If castor oil is going to help start a labor, it should work within 4 hours.</p>

			<p>Castor oil causes stomach cramps and diarrhea (watery stool). Sometimes it also causes vomiting. Having diarrhea during labor increases the chance of infection because a little stool can easily get into the vagina. The contractions together with stomach cramps can make labor feel too fast or overwhelming for the woman.</p> 

			<p>Always warn women that castor oil tastes very bad and will make them feel very uncomfortable. Remind them to wipe from front to back after passing stool.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Too long labor</a>
			</div>
		{% endblock %}

