{% set pagetitle = "How to check <br>the baby's position" %}
{% set seq_length = 4 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_check_the_babys_position1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_check_the_babys_position3.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_check_baby_position2{% endblock %}

		{% block content %}	
		<img src="images/MW0252A.png" class="hm-content-imgright" width="116"/> 
		<p>Push firmly against one side of the belly. With the other hand, feel up and down along the other side of the belly. What do you feel?</p>
		<p>The back feels firm. The arms and legs feel like small parts and may move away when you push on them.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Baby_is_lying_sideways.html" rel="external" data-role="button" data-theme="c">If the baby is sideways</a>
				<a href="How_to_change_babys_position.html" rel="external" data-role="button" data-theme="c">Exercise to change the baby's position</a>
			</div>
		{% endblock %}
