{% set pagetitle = "How to make<br>rehydration drink" %}
{% set seq_length = 3 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_make_rehydration_drink2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_rehydration_drink3{% endblock %}

		{% block content %}	
			<img src="images/bottle.png" class="hm-content-imgright" width="18%"/>
			<p class="hm-content-strong">2. Drink made with sugar and salt.</p>
			
			<p>(You can use raw, brown sugar or molasses instead of white sugar)</p>
			
			<p>In 1 liter of clean water</p>
			
			<p class="hm-content-floatcontainer">put half of level teaspoon of salt,<img src="images/salt_spoon.png" class="hm-content-imgleft" width="20%"/></p>
			
			<div class="clear">
				<img src="images/sugar_spoon.png" class="hm-content-imgright" width="40%"/>
				<p>and 8 level teaspoons of sugar.<br>Mix well.</p>
				<p class="hm-content-strong">Caution: Before adding the sugar, taste the drink and be sure that it is less salty than tears.</p>
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">How to treat for shock</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">How to give rectal fluids</a>
				<a href="Fever_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Fever during pregnancy</a>
			</div>
		{% endblock %}
