{% set pagetitle = "How to take <br>blood pressure" %}
{% set seq_length = 5 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_take_blood_pressure1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_take_blood_pressure3.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_take_blood_pressure2{% endblock %}

		{% block content %}
			<div class="hm-horizontal-center">
				 <img src="images/chunked_31.gif" width="203"/> 
			</div>
			<p>2. Close the valve on the rubber bulb by turning the screw to the right. The screw will get shorter.</p>
		

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Pre-eclampsia_during_pregnancy.html" data-role="button" data-theme="c">If she has high blood pressure</a>
				<a href="Her_blood_pressure.html" data-role="button" data-theme="c">Checking blood pressure during pregnancy</a>
			</div>
		{% endblock %}
