{% set pagetitle = "How to inject medicines<br>into muscle" %}
{% set seq_length = 7 %}
{% set seq_position = 5 %}
{% set seq_llink = "How_to_inject_medicines_into_muscle4.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_inject_medicines_into_muscle6.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_inject_medicines_into_muscle5{% endblock %}

		{% block content %}
			<ul class="hm-content-noindent hm-content-unstyledlist">
				<li>6. Clean the skin with soap and water or with alcohol. Let it dry.</li>
			</ul>
			<div class="hm-horizontal-center">
				<img src="images/MW1414A-40.png" width="65%"/>
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
