{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_rub_the_womb{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to rub the womb</h2>
			 <img src="images/MW0596.png" class="hm-content-imgright" width="130"/> 
			<p>Put your hand on top of the womb and squeeze while you move the same hand in a circle. Rub the womb until it feels like a hard round ball. The womb should be in the center of the belly, not off to the left or right. If it is not in the center, have the woman urinate. Check the womb every 1 or 2 minutes for a while. If it gets soft again, rub it until it contracts again. </p>
			<p class="clear">Rubbing the womb will be painful for the mother. You must keep rubbing to stop the bleeding, even if she is in pain.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Too much bleeding after birth</a>
			</div>
		{% endblock %}
