{% set pagetitle = "How to take blood pressure" %}
{% set seq_length = 5 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_take_blood_pressure2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_take_blood_pressure4.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_take_blood_pressure3{% endblock %}

		{% block content %}
			<div class="hm-horizontal-center">
				<img src="images/chunked_32.gif" width="70%"/>
			</div>
			<p>
				3. Feel for a pulse just below the cuff, on the inside of the elbow. Put the stethoscope over the pulse and put the ear pieces in your ear.
			</p>
			
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>
				<a href="javascript:;" data-role="button" data-theme="c">If she has high blood pressure</a>
			</div>
		{% endblock %}
