{% set pagetitle = "How to inject medicines<br>into muscle<br><span class='hm-content-subtitle'>If the medicine comes in an ampule</span>" %}
{% set seq_length = 7 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_injection_from_ampule2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Injection_from_ampule1{% endblock %}

		{% block content %}	
		<ol class="hm-content-noindent hm-content-spacedlist">
		<li>Wipe the ampule clean with a cloth or some alcohol.<img src="images/WTND_72-26.png" class="hm-content-imgright" width="25%"/></li>
		<li>Then wrap a clean cloth around the top and break it off.</li>
		</ol>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
