{% set pagetitle = "How to check <br>the baby's position" %}
{% set seq_length = 4 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_check_the_babys_position2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_check_baby_position1{% endblock %}

		{% block content %}
			<p>
				<img src="images/MW0253B.png" class="hm-content-imgright" width="145">
			</p>			
			<p> Firmly grasp the top of the womb, and gently move it back and forth.</p>
            
			<p> The baby's bottom is soft and wide. When you move it from side to side, the whole body moves with it.</p>
			<p class="clear">
				<img src="images/MW0254F.png" class="hm-content-imgleft" width="116">
			</p>
			<p> The baby's head is harder and smaller. When you move the head, the neck bends, and the body does not move much.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Baby_is_lying_sideways.html" rel="external" data-role="button" data-theme="c">If the baby is sideways</a>
				<a href="How_to_change_babys_position.html" rel="external" data-role="button" data-theme="c">Exercise to change the baby's position</a>
			</div>
		{% endblock %}
