{% set pagetitle = "How to give castor oil" %}
{% set seq_length = 2 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_give_castor_oil1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_castor_oil2{% endblock %}

		{% block content %}
			<p class="hm-content-strong">To use castor oil</p>
			<p>Mix about 60 ml (2 oz) of castor oil in a cup (240 ml or 8 oz) of fruit juice. Lemon or orange juice work especially well to help with the bad flavor. Do not give more than 1 glass. The mother should drink the whole glass down.</p>
			<div class="hm-horizontal-center">
				 <img src="images/castor_oil.png" width="275"/> 
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Too_long_labor.html" rel="external" data-role="button" data-theme="c">Too long labor</a>
			</div>
		{% endblock %}

