{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_inject_medicines_into_muscle{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to inject medicines into muscle</h2>
			 <img src="images/syringe_z.png" class="hm-content-imgright" width="130"/> 
			<p class="clear">What form of medicine do you have?</p>
			<div class="hm-content-floatcontainer">
				 <img src="images/WTND_72-23.png" class="hm-content-imgleft" width="15"/> 
				<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks hm-content-floatright" style="width:92%;">
					<li><a href="How_to_injection_from_ampule1.html">A small bottle called an ampule</a></li>
				</ul>
			</div>
			<div class="hm-content-floatcontainer clear">
				 <img src="images/385-24.png" class="hm-content-imgleft" width="17"/> 
				<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks hm-content-floatright" style="width:92%;">
					<li><a href="How_to_injection_from_bottle1.html">A liquid in a small bottle with a lid</a></li>
				</ul>
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
