{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block id %}How_Tos{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">How Tos</h2>
			
			<ul data-role="listview" data-theme="c" data-inset="true">
				<li><a href="How_to_take_blood_pressure1.html" rel="external">How to take blood pressure</a></li>
				<li><a href="How_to_treat_malaria.html" rel="external">How to treat malaria</a></li>
				<li><a href="How_to_prevent_malaria.html" rel="external">How to prevent malaria</a></li>
				<li><a href="How_to_check_the_babys_position1.html" rel="external">How to check the baby's position</a></li>
				<li><a href="How_to_change_babys_position.html" rel="external">How to change the baby's position</a></li>
				<li><a href="How_to_roll_nipples.html" rel="external">How to roll nipples</a></li>
				<li><a href="How_to_make_bleach_solution.html" rel="external">How to make bleach solution</a></li>
				<li><a href="How_to_take_temperature1.html" rel="external">How to take a temperature</a></li>
				<li><a href="How_to_make_rehydration_drink1.html" rel="external">How to make rehydration drink</a></li>
				<li><a href="How_to_help_get_woman_to_hospital.html" rel="external">How to help a woman while getting her to the hospital</a></li>
				<li><a href="Shock.html" rel="external">How to treat a woman in shock</a></li>
				<li><a href="How_to_give_rectal_fluids1.html" rel="external">How to give rectal fluids</a></li>
			</ul>
		{% endblock %}
