{% set pagetitle = "How to make<br>rehydration drink" %}
{% set seq_length = 3 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_make_rehydration_drink2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_rehydration_drink1{% endblock %}

		{% block content %}	
			<p>There are two ways of making rehydration drink. Both are good to give to any woman in labor, especially if she has a fever or has been in labor for a long time. If you can, add half a cup of fruit juice, coconut water, or mashed ripe banana to either drink.  These contain potassium, a mineral which helps a sick person accept more food and drink.</p>

			<p>Give the person sips of this drink every 5 minutes, day and night, until she begins to urinate normally.  A large person needs 3 or more liters a day. Keep giving the drink often, and in small sips. Even if she vomits, not all of the drink will be vomited.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">How to treat for shock</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">How to give rectal fluids</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Fever during pregnancy</a>
			</div>
		{% endblock %}
