{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}How_to_lower_fever{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to lower a fever</h2>
			 <img src="images/chunked_22.png" class="hm-content-imgright" width="145"/> 
			<p>Lowering a fever will help a woman feel better, but it will not treat the cause of the fever, such as infection or malaria.</p>
			<p>Lower a fever by giving 500 to 1,000 mg paracetamol by mouth every 4 to 6 hours. Do not give ibuprofen to a pregnant woman in the last 3 months of pregnancy. It is not safe.</p> 
			<p class="clear">Give a sponge bath with cool (not cold) water, or use cool cloths to help bring the fever down.</p>
			<p>Help the woman drink rehydration drink or 1 cup of water every hour. If she is too sick to drink, start an intravenous drip (IV) if you know how, or give rectal fluids.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_make_rehydration_drink1.html" data-role="button" data-theme="c">How to make rehydration drink</a>
				<a href="How_to_give_rectal_fluids1.html" data-role="button" data-theme="c">How to give rectal fluids</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">How to take temperature</a>
			</div>
		{% endblock %}
