{% set pagetitle = "How to inject medicines<br>into muscle<br><span class='hm-content-subtitle'>If the medicine comes as liquid in a bottle</span>" %}
{% set seq_length = 7 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_injection_from_bottle2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_inject_medicines_into_muscle4.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Injection_from_bottle3{% endblock %}

		{% block content %}
		<ul class="hm-content-noindent hm-content-spacedlist hm-content-unstyledlist">
			<li>4. Hold the syringe with the needle pointing up. Gently tap the barrel of the syringe until all the air bubbles rise to the top. Push the plunger in just a little to get the air out.</li>
		</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
