{% set pagetitle = "How to check for protein<br>in urine" %}
{% set seq_length = 2 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_check_for_protein_in_urine1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_check_for_protein_in_urine2{% endblock %}

		{% block content %}
			<img src="images/chunked_41.png" class="hm-content-imgright" width="50%"/>
			
			<p><span class="hm-content-strong">Method 2:<br>
			Heat the mother's urine to check for protein.</span>
			<br>Ask the mother to wash her genitals well and then urinate into a clean container. Then pour the urine into a test tube to within 2 centimeters (or one inch) of the top of the tube. Heat the upper part of the tube over a small burner, low flame, or candle until the urine boils. (Keep turning the test tube or the glass will break.)</p>
			
			<p>If the urine is clear, there is no protein in it. If the urine becomes cloudy and white, add a few drops of vinegar (2% acetic acid). If the cloudiness goes away there is no protein in the urine. If it stays cloudy or gets whiter, there is protein in the urine. If the woman has protein and high blood pressure, she has pre-eclampsia. When a woman has severe pre-eclampsia, the urine may become very cloudy, white, and thick.</p>
			

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Severe pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Bladder infection</a>
			</div>
		{% endblock %}

