{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_treat_infection_during_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to treat infection during labor or after birth</h2>
			<p>For mild fever during labor, ampicillin plus gentamicin will usually work. For high fever in labor, or for signs of infection after birth, use metronidazole as well to fight all the possible bacteria that can cause the infection. It is best to inject at least the first dose of ampicillin, but if you have only pills give those instead.</p>

            <p><span class="hm-content-strong">Ampicillin: </span>inject 2 grams. Wait 6 hours, then inject or give by mouth 1 gram every 6 hours. AND</p>
            <p><span class="hm-content-strong">Gentamicin: </span>inject 5 mg per kg, once a day. If you cannot weigh the woman, inject 80 mg, 3 times a day. AND</p>
            <p><span class="hm-content-strong">Metronidazole: </span>give 500 mg by mouth, 3 times a day.</p>		
			<p>Give all 3 medicines until 2 days after signs of infection have stopped.</p>

			<p>In case of allergy to penicillins, give 500 mg erythromycin 4 times a day instead of ampicillin. Other combinations of antibiotics can be given if they are all you have. Choose a combination that fights a wide-range of bacteria.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Fever_during_labor.html" data-role="button" data-theme="c">Infection during labor</a>
				<a href="Fever_After_Birth.html" data-role="button" data-theme="c">Infection after birth</a>
			</div>
		{% endblock %}
