{% set pagetitle = "How to take blood pressure" %}
{% set seq_length = 5 %}
{% set seq_position = 4 %}
{% set seq_llink = "How_to_take_blood_pressure3.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_take_blood_pressure5.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_take_blood_pressure4{% endblock %}

		{% block content %}
			<img src="images/chunked_33.gif" class="hm-content-imgright" width="35%"/>
			<p>
				4. Pump up the cuff by squeezing the bulb.
			</p>
			<span class="clear"></span>
			<img src="images/chunked_34.gif" class="hm-content-imgright clear" width="35%"/>
			<p>
				5. As you pump, the needle will move. When it reaches 200 stop pumping.
			</p>
		{% endblock %}
