{% set pagetitle = "How to take a temperature<br>using a thermometer" %}
{% set seq_length = 3 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_take_temperature2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_take_temperature1{% endblock %}

		{% block content %}	
			<div class="hm-horizontal-center">
				<img src="images/thermometer.png" width="90%"/>
				<p>(Using a thermometer marked in degrees Celsius - &deg;C)</p>
			</div>
			
			<p>Clean the thermometer well with soap and cold water, or alcohol. Hold it at the end without the silver (or red) and shake it hard, with a snap of the wrist, until it reads less than 36 degrees.</p>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Fever_during_pregnancy.html" rel="external" data-role="button" data-theme="c">Fever during pregnancy</a>
				<a href="Fever_during_labor.html" rel="external" data-role="button" data-theme="c">Fever during labor</a>
				<a href="Fever_After_Birth.html" rel="external" data-role="button" data-theme="c">Fever after birth</a>
			</div>
		{% endblock %}
