{% set pagetitle = "How to check for protein<br>in urine" %}
{% set seq_length = 2 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_check_for_protein_in_urine2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_check_for_protein_in_urine1{% endblock %}

		{% block content %}
			<img src="images/chunked_40.png" class="hm-content-imgright" width="30%"/>
			<p>Protein in the urine is a sign of pre-eclampsia or a bladder infection. There are 2 methods to check for protein in urine.</p>
			
			<p><span class="hm-content-strong">Method 1:<br>
			Use small plastic strips called Uristicks, Albusticks, or Labsticks to check for protein.</span>
			<br>You may be able to get a bottle of these sticks from the local health authority or pharmacy. The strips have different color squares that turn from yellow to dark green. Ask the mother to urinate on the stick, and then compare the color of the squares with the color chart on the bottle.</p>
			
			<p>If the square turns dark green, there is protein in the urine. This is the most accurate way to check for protein.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Severe pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Bladder infection</a>
			</div>
		{% endblock %}

