{% set pagetitle = "How to suction a baby's<br>mouth and nose" %}
{% set seq_length = 4 %}
{% set seq_position = 3 %}
{% set seq_llink = "How_to_suction_babys_nose_mouth2.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_suction_babys_nose_mouth4.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_suction3{% endblock %}

		{% block content %}
		
			<ol start="3" class="hm-content-noindent hm-content-floatcontainer">
				<li>Release the syringe as you wiggle it around. The bulb will suck up mucus. <img src="images/syringe.baby.mouth2.png" class="hm-content-imgright" width="102"/>  (Do not squeeze the syringe while it is in the mouth.)</li>
			</ol>	
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Green_or_brown_waters.html" rel="external" data-role="button" data-theme="c">If the waters are green or brown</a>
			</div>
		{% endblock %}
