{% set pagetitle = "How to inject medicines<br>into muscle<br><span class='hm-content-subtitle'>If the medicine comes as liquid in a bottle</span>" %}
{% set seq_length = 7 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_injection_from_bottle2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Injection_from_bottle1{% endblock %}

		{% block content %}
		<img src="images/MED37-29.png" class="hm-content-imgright" width="18%"/>	
		<ul class="hm-content-noindent hm-content-spacedlist hm-content-unstyledlist">
			<li>1. Clean the rubber top of the bottle with a sterile gauze or cloth that has been soaked in alcohol. This keeps dirt off the needle and out of the medicine.<img src="images/MED38-30.png" class="hm-content-imgleft" width="15%"/></li>
			<li>2. Pull the plunger back to fill the syringe with air. Then push the syringe through the top of the bottle, and inject the air into the bottle.</li>
		</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="javascript:;" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
