{% set pagetitle = "How to give rectal fluids" %}
{% set seq_length = 6 %}
{% set seq_position = 2 %}
{% set seq_llink = "How_to_give_rectal_fluids1.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_rectal_fluids3.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_rectal_fluids2{% endblock %}

		{% block content %}	
			 <img src="images/chunked_10.png" class="hm-content-imgright" width="145"/> 
			<p class="hm-content-strong">What to do:</p>
			<ol class="hm-content-noindent hm-content-spacedlist">
				<li>Tell the woman what you are doing and why.</li>
				<li>Wash your hands.</li>
				<li>Ask her to lie on her left side if she can. Put a pillow or cloth under her head.</li>
				<li>If you have them, put on clean gloves.</li>
			</ol>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">How to make rehydration drink</a>
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Signs of shock</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">How to lower a fever</a>
			</div>
		{% endblock %}
