{% set pagetitle = "How to inject medicines<br>into muscle" %}
{% set seq_length = 7 %}
{% set seq_position = 6 %}
{% set seq_llink = "How_to_inject_medicines_into_muscle5.html" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_inject_medicines_into_muscle7.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_inject_medicines_into_muscle6{% endblock %}

		{% block content %}
			<ul class="hm-content-noindent hm-content-spacedlist hm-content-unstyledlist">
				<li>7. Put the needle all the way in. If you move quickly and smoothly as you insert the needle it will not hurt much. Do not move the needle once it is in.</li>
				<li><img src="images/injection.pull.png" class="hm-content-imgright" width="33%"/>8. Pull the plunger of the syringe out just a little. If any blood comes into the syringe you have gone into a vein. Take the needle outand try again.</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
