{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_prevent_malaria{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to prevent malaria</h2>
			 <img src="images/bugnet.png" class="hm-content-imgright" width="130"/> 
			<p>Malaria is spread by mosquitoes. To prevent malaria, avoid mosquito bites.</p>
			<ul class="hm-content-noindent">
				<li>Get rid of standing water and stay away from places where mosquitoes breed.</li>
				<li>Use local remedies to keep mosquitoes away. Some people use citronella oil on their skin.</li>
				<li>Wear long sleeves and long skirts or pants, or use mosquito repellant when mosquitoes are biting.</li>
				<li>Sleep under treated bed nets or hang treated curtains in doors and windows.</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Signs_of_malaria.html" rel="external" data-role="button" data-theme="c">Signs of malaria</a>
				<a href="How_to_treat_malaria.html" rel="external" data-role="button" data-theme="c">How to treat malaria</a>
			</div>
		{% endblock %}
