{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_change_babys_position{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to change the baby's position</h2>
			<p>During the last month of pregnancy, it may be possible to change the baby's position by lying in this position for 10 minutes, 2 times a day:</p>
			<p>Lie on the floor with pillows under the hips. Try to get the hips higher than the head.
			Do this every day with an empty stomach, until the baby changes to a head-down position. Then stop. 
			</p>
			<div class="hm-horizontal-center">
				<img src="images/chunked_5.png" width="80%"/>
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Baby_is_lying_sideways.html" rel="external" data-role="button" data-theme="c">If the baby is sideways</a>
				<a href="How_to_check_the_babys_position1.html" rel="external" data-role="button" data-theme="c">How to check the baby's position</a>
			</div>
		{% endblock %}
