{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_treat_yeast_infections{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to treat yeast infections</h2>
			<p>Yeast infections are common during pregnancy. They are not dangerous, but should be treated before birth.</p>

			<span class="hm-content-strong">Signs:</span>
			<ul class="hm-content-noindent hm-content-nomargintop">
				<li>very itchy inside or outside the vagina</li>
				<li>white, lumpy discharge, like milk curd or yogurt</li>
				<li>bright red skin outside and inside the vagina that may bleed</li> 
				<li>a burning feeling when urinating</li>
				<li>a smell like mold or baking bread</li>
			</ul>
		
			<span class="hm-content-strong">Treatment:</span>
				
			<ul class="hm-content-noindent hm-content-nomargintop">
				<li><img src="images/MW1213C.png" class="hm-content-imgright" width="116" />Mix 3 tablespoons of vinegar with 1 liter boiled and cooled water. Soak a piece of clean cotton in the mixture and insert it into the vagina every night for 3 nights. Remove the cotton each morning. OR</li>
				<li>Soak a clean piece of cotton in gentian violet 0.5%. Insert the cotton into the vagina, every night for 3 nights. Remove the cotton each morning. OR</li>
				<li>Insert 200 mg miconazole high in the vagina each night for 3 nights. OR</li>
				<li>Insert 100,000 units nystatin high in the vagina each night for 14 nights.</li>
			</ul>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Increased_vaginal_discharge.html" data-role="button" data-theme="c">Increased vaginal discharge</a>
			</div>
		{% endblock %}
