{% set pagetitle = "How to inject medicines<br>into muscle" %}
{% set seq_length = 7 %}
{% set seq_position = 7 %}
{% set seq_llink = "How_to_inject_medicines_into_muscle6.html" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_inject_medicines_into_muscle7{% endblock %}

		{% block content %}
			<ul class="hm-content-noindent hm-content-spacedlist hm-content-unstyledlist">
				<li> <img src="images/MW1414C-43.png" class="hm-content-imgright" width="116"/> 9. If no blood enters the syringe, slowly but steadily push the plunger in to inject the medicine into the muscle.</li>
				<li>10. Pull out the syringe, and clean the skin again.</li>
				<li>11. Immediately put the used syringe somewhere it cannot stick anyone.</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
			</div>
		{% endblock %}
