{% set pagetitle = "How to give rectal fluids" %}
{% set seq_length = 5 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_rectal_fluids2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_rectal_fluids1{% endblock %}

		{% block content %}	
			 <img src="images/chunked_10.png" class="hm-content-imgright" width="145"/> 
			<p class="hm-content-strong">You will need:</p>
			<ul class="hm-content-noindent">
				<li>A clean enema bag, or a can or tin with tubing.</li>
				<li>A cloth to place under the woman.</li>
				<li>600 ml (a little more than &frac12; a liter bottle) of warm (not hot) drinking water. Salt and sugar rehydration drink or a bag of IV solution can be used instead.</li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks clear">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="How_to_make_rehydration_drink1.html" rel="external" data-role="button" data-theme="c">How to make rehydration drink</a>
				<a href="Shock.html" rel="external" data-role="button" data-theme="c">Signs of shock</a>
				<a href="How_to_lower_fever.html" rel="external" data-role="button" data-theme="c">How to lower a fever</a>
			</div>
		{% endblock %}
