{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_make_bleach_solution{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to make bleach solution</h2>
			<p>If possible, use a 0.5% solution of bleach (chlorine) for disinfecting tools. If you do not have 0.5% bleach solution, you can make your own by mixing bleach and water:</p>
			
			<div class="hm-content-floatcontainer">
				<div class="clear"><span class="hm-content-alignleft hm-content-strong">If your bleach says:</span><span class="hm-content-alignright hm-content-strong" width="45%">Use:</span></div>
				<div class="clear"><span class="hm-content-alignleft">2% available chlorine...</span><span class="hm-content-alignright" width="45%">1 part bleach to <br>3 parts water</span></div>
				<div class="clear"><span class="hm-content-alignleft">5% available chlorine...</span><span class="hm-content-alignright" width="45%">1 part bleach to <br>9 parts water</span></div>
				<div class="clear"><span class="hm-content-alignleft">10% available chlorine...</span><span class="hm-content-alignright" width="45%">1 part bleach to <br>19 parts water</span></div>
				<div class="clear"><span class="hm-content-alignleft">15% available chlorine...</span><span class="hm-content-alignright" width="45%">1 part bleach to <br>29 parts water</span></div>
			</div>
			<p class="clear">Soaking your tools in bleach solution for 20 minutes before you clean them will help protect you from infection.</p> 

		
		
		{% endblock %}
