{% set pagetitle = "How to give<br>magnesium sulfate" %}
{% set seq_length = 2 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "How_to_give_magnesium_sulfate2.html" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_give_magnesium_sulfate1{% endblock %}

		{% block content %}
			<p>Magnesium sulfate is used to stop seizures. It can cause the mother to have trouble breathing, especially if she is given too much. This medicine can save a woman's life, but only use it if you have been trained and you are on the way to a hospital or medical center.</p>

			<p>Only use magnesium sulfate if her blood pressure is over 160/110 or she is having a seizure. Get medical help immediately if her breathing slows to less than 12 breaths a minute or if she has not urinated for 4 hours. Do not use on women with kidney problems</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Severe_pre-eclampsia.html" rel="external" data-role="button" data-theme="c">If she has severe pre-eclampsia</a>
				<a href="Seizures_during_pregnancy.html" rel="external" data-role="button" data-theme="c">If she has a seizure</a>
				<a href="Bleeding-After_Birth.html" rel="external" data-role="button" data-theme="c">Heavy bleeding after birth</a>
			</div>
		{% endblock %}

