{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}How_to_treat_malaria{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to treat malaria</h2>
			<img src="images/CH14187C.png" class="hm-content-imgright" width="50%"/>
				<p>If a pregnant woman is sick with malaria, she should be treated right away.</p>

				<p>Malaria must be treated with an Artemesinin-based Combination Therapy (ACT). Check with your local health authority to find out which ACT works best in your area.</p>

				<p class="clear">If you do not know which works best, give artemether plus lumefantrine. This usually comes as a combined pill. Give 4 pills by mouth 2 times a day for 3 days. The woman should take the medicine right away after opening the package because it can lose strength once outside the package.</p>
							
				<p>If the woman is in <span class="hm-content-strong">the first 3 months of pregnancy,</span> she should take quinine plus clindamycin instead if possible. Give 600 mg quinine 3 times a day for 7 days, AND 300 mg clindamycin 4 times a day for 7 days.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Signs_of_malaria.html" rel="external" data-role="button" data-theme="c">Signs of malaria</a>
				<a href="How_to_prevent_malaria.html" rel="external" data-role="button" data-theme="c">How to prevent malaria</a>
			</div>
		{% endblock %}
