{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}If_she_has_a_bladder_infection{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">If she has a bladder infection</h2>
			<p>
				If the woman has a bladder infection she should drink 1 glass of liquid every hour while she is awake to help wash the infection out of her body. 
			</p>
			<p>If she does not start to improve quickly, she should take medicine.</p>
			
			<p>
			<span class="hm-content-strong">Medicine for a bladder infection:</span><br/>
			Give 500 mg amoxicillin by mouth 3 times a day for 7 days. If she is allergic to amoxicillin or penicillin she should take 960 mg cotrimoxazole by mouth 2 times a day for 7 days. But do not give cotrimoxazole in the last 3 months of pregnancy.</span>	
			</p>
			
			<p>
			<span class="hm-content-strong">To prevent bladder infections:</span><br/>
			<img src="images/CH18242A.png" class="hm-content-imgright" width="35%"/>
			Teach women how to keep germs in stool away from the hole where women pass urine, by wiping from front to back after urinating or passing stool. Remind women's partners to clean their hands and genitals before sex. Women should also urinate right after having sex. 
			</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="javascript:;" data-role="button" data-theme="c">Signs of bladder and kidney infections</a>
				<a href="javascript:;" data-role="button" data-theme="c">If she has a kidney infection</a>
			</div>
		{% endblock %}
