{% set pagetitle = '<a href="Common_complaints_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Common complaints</a>' %}
{% set seq_length = 4 %}
{% set seq_position = 2 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Increased_vaginal_discharge{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Increased vaginal discharge</h2>
			 <img src="images/STD03.png" width="102" class="hm-content-imgright"/> 
			<p>Discharge is the wetness all women have from the vagina. Pregnant women often have a lot of discharge, especially near the end of pregnancy. It may be clear or yellowish. This is normal.</p>

			<p> If the discharge is white and lumpy, and if the vagina itches, this might be a yeast infection.</p>

			<p class="clear">Discharge with a very bad smell, or heavy discharge with pain in the belly, can be a sign of a sexually transmitted infection. She should see a health worker.</p>

			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
				<li><a href="Nausea_during_pregnancy.html" rel="external">Other common complaints</a></li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>
				<a href="" data-role="button" data-theme="c">Yeast infections</a>	
			</div>
		{% endblock %}
