{% extends "templates.jinja/base.index.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}home{% endblock %}
		{% block content %}
		<ul data-role="listview">
			<li><a href="How_to_take_blood_pressure1.html" rel="external">How to take blood pressure</a></li>
			<!-- commenting out these links until there is content for them
			<li><a href="Staying_Healthy_During_Pregnancy.html" rel="external">Staying Healthy During Pregnancy</a></li>
			<li><a href="Danger_Signs_During_Pregnancy.html" rel="external">Danger Signs During Pregnancy</a></li>
			<li><a href="Danger_Signs_During_Birth.html" rel="external">Danger Signs During Birth</a></li>
			<li><a href="Danger_Signs_After_Birth.html" rel="external">Danger Signs After Birth</a></li>
			<li><a href="How_To.html" rel="external">How To</a></li>
			-->
		</ul>
		{% endblock %}
