{% extends "templates.jinja/base.index.html" %}
{% block title %}Saving Mothers' Lives{% endblock %}
{% block headertitle %}Saving Mothers' Lives{% endblock %}
{% block id %}home{% endblock %}
		{% block content %}
		<ul data-role="listview">
			<li><a href="Staying_Healthy_During_Pregnancy.html" rel="external">Staying Healthy During Pregnancy</a></li>
			<li><a href="Danger_Signs_During_Pregnancy.html" rel="external">Danger Signs During Pregnancy</a></li>
			<li><a href="Danger_Signs_During_Birth.html" rel="external">Danger Signs During Birth</a></li>
			<li><a href="Danger_Signs_After_Birth.html" rel="external">Danger Signs After Birth</a></li>
			<li><a href="How_Tos.html" rel="external">How Tos</a></li>
		</ul>
		{% endblock %}
