{% extends "templates.jinja/base.index.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}home{% endblock %}
		{% block content %}
		<ul data-role="listview">
			<li><a href="page_with_navbar.html" rel="external">page with navigation bar</a></li>
			<li><a href="page_with_sequence.html" rel="external">page with sequence</a></li>
			<li><a href="Staying_Healthy_During_Pregnancy.html" rel="external">Staying Healthy During Pregnancy</a></li>
			<li><a href="Danger_Signs_During_Pregnancy.html" rel="external">Danger Signs During Pregnancy</a></li>
			<li><a href="Danger_Signs_During_Birth.html" rel="external">Danger Signs During Birth</a></li>
			<li><a href="Danger_Signs_After_Birth.html" rel="external">Danger Signs After Birth</a></li>
			<li><a href="How_To.html" rel="external">How To</a></li>
		</ul>
		{% endblock %}
