{% extends "templates.jinja/base.about.html" %}
{% block title %}Safe Pregnancy and Birth{% endblock %}

{% block id %}license{% endblock %}
		{% block content %}
		<h2>Copyrights and Credits</h2>
		<div><p><span class="hm-content-strong">Content: </span>All rights reserved, copyright Hesperian Health Guides. Please contact <a href="mailto:permissions@hesperian.org">permissions@hesperian.org</a> for more information.</p></div>
				<span class="hm-content-strong">Design:</span>
				<ul class="hm-content-nomargintop">
					<li>Zena Herman</li>
					<li>Tawnia Litwin</li>
					<li>Divya Ramachandran</li>
					<li>And many other Hesperian staff members</li>
				</ul>		<div>
			<p><span class="hm-content-strong">Application source code:</span> available on<br><a href="https://github.com/saqimtiaz/hesperian-mhealth-pregnancy-warning-signs/" rel="external">github</a> under MIT license.</p>
				<span class="hm-content-strong">Contributors:</span>
				<ul class="hm-content-nomargintop">
					<li>UnaMesa Association</li>
					<li>Saq Imtiaz</li>				
					<li>Matthew Litwin</li>
					<li>FND</li>
				</ul>
			
		</div>
		{% endblock %}
