{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Medicines_for_a_kidney_infection{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Medicines for a kidney infection</h2>
			 <img src="images/KIDNEY.png" class="hm-content-imgright" width="116"/> 
			<p>
				Give 500 mg amoxicillin by mouth 3 times a day for 7 days. If she is allergic to amoxicillin give 960 mg cotrimoxazole by mouth 2 times a day for 7 days. But do not give cotrimoxazole in the last 3 months of pregnancy.
			</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Signs_of_kidney_or_bladder_infection.html" data-role="button" data-theme="c">Signs of bladder and kidney infections</a>
				<a href="If_she_has_a_bladder_infection.html" data-role="button" data-theme="c">If she has a bladder infection</a>
			</div>
		{% endblock %}
