{% set pagetitle = '<a href="Common_complaints_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Common complaints</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Nausea_during_pregnancy{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Nausea</h2>
			<div class="hm-horizontal-center">
				 <img src="images/MW0204.png" width="203"/> 
			</div>
			<p>Many women have nausea in the first months of pregnancy. No one knows for sure what causes this, but for many women, the way they eat affects it. If the nausea is mild, encourage the woman to try any of these remedies:</p>
			<ul class="hm-content-noindent">
				<li>Eat food that has protein before bed or during the night. Some good foods with protein are beans, nuts, and cheese.</li>
				<li>Eat a few crackers, dry bread, dry tortillas, dry chapattis, or other grain food when she first wakes in the morning.</li>
				<li>Eat many small meals instead of 2 or 3 larger ones, and take small sips of liquid often.</li>
				<li>Take 50 mg vitamin B-6, 2 times a day (do not take more).</li>
				<li>Drink a cup of ginger, mint, or cinnamon tea 2 or 3 times a day, before meals.</li>
			</ul>
	
		{% endblock %}

