{% set pagetitle = '<a href="Things_to_avoid_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Things to avoid</a>' %}
{% set seq_length = 0 %}
{% set seq_position = 0 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}People_with_rashes{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Sick people</h2>
			 <img src="images/MW0135_.png" width="130" class="hm-content-imgright"/> 
			<p>A pregnant woman should avoid sick people to prevent getting sick herself. Some sicknesses are particularly dangerous to pregnant women or their babies. Rubella (German measles) is one sickness that can cause serious birth defects in the baby, including deafness and heart problems. It can even cause death.</p>

            <p class="clear">There is a vaccine to prevent Rubella. A woman should not get this vaccine while she is pregnant, but her family and children should. A community-wide vaccination program is the best protection for all women.</p>

		{% endblock %}

