{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Preeclampsia_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Pre-eclampsia (danger of seizures)</h2>
			<p>Pre-eclampsia is when a woman has:</p>
			<img src="images/chunked_36.png" class="hm-content-imgright" width="40%"/>
			<ul class="hm-content-noindent">
				<li>High blood pressure (140/90 or greater).</li>
				<li>Protein in her urine.</li>
			</ul>
			<p>Pre-eclampsia can cause premature birth, bleeding, seizures, or even death for the mother.</p>
			
			<div class="hm-content-important clear">If a woman has both of these signs, she already has pre-eclampsia and needs medical help right away.</div>
			<p>If she only has high blood pressure, check it often to see if it goes up.</p>
			<p>If she has high blood pressure, watch for any of these signs of severe pre-eclampsia:</p>
			<ul class="hm-content-noindent">
				<li>Strong headaches.</li>
				<li>Vision changes such as spots, blurriness, or double vision.</li>
				<li>Steady, severe pain in the top of the belly or the right side just under the ribs.</li> 
				<li>Swollen face, or swelling all over when she wakes up.</li>
				<li>Seizures.</li>			
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_take_blood_pressure1.html" data-role="button" data-theme="c">How to take blood pressure</a>
				<a href="How_to_check_for_protein_in_urine1.html" data-role="button" data-theme="c">How to check for protein in urine</a>
				<a href="Severe_pre-eclampsia.html" data-role="button" data-theme="c">Severe pre-eclampsia</a>
				<a href="How_to_take_blood_pressure2.html" data-role="button" data-theme="c">Check for pre-eclampsia during pregnancy</a>				
			</div>
		{% endblock %}
