{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Seizures_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Seizures or fits</h2>
			<div class="hm-horizontal-center">
				 <img src="images/chunked_24.png" width="232"/> 
			</div>
			<p>When a woman has a seizure, she may have some or all of these signs:</p>
			<ul class="hm-content-noindent">
				<li>Rolling eyes.</li>
				<li>Twitching hands and face.</li>
				<li>Stiff, rigid, or shaking body.</li>
				<li>Blue skin.</li>
				<li>Loud, bubbly sound while breathing.</li>
				<li>Unconsciousness.
			</ul>
			<p>A seizure may last anywhere from a few seconds to many minutes. Some seizures are stronger than others, but all seizures are very dangerous.</p>
			<h3>What to do if she has a seizure</h3>
			 <img src="images/chunked_28.png" class="hm-content-imgright" width="174"/> 
			<ol class="hm-content-noindent">
				<li>Stay calm.</li>
				<li>Do not put anything in the mother's mouth. She must be allowed to breathe freely.</li>
				<li>Put the mother on her side, so she does not breathe in her spit or vomit.</li>
				<li>Remove hairpins or other sharp objects that could harm the mother.</li>
				<li>Give the mother oxygen, if you have it.</li>
				<li>Give magnesium sulfate if you know how.</li>
			</ol>
			<p class="clear">Get medical help as soon as possible when the seizure is over.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_give_magnesium_sulfate1.html" data-role="button" data-theme="c">How to give magnesium sulfate</a>
				<a href="Pre-eclampsia_during_pregnancy.html" data-role="button" data-theme="c">What is pre-eclampsia</a>
				<a href="Severe_pre-eclampsia.html" data-role="button" data-theme="c">Severe pre-eclampsia</a>
			</div>
		{% endblock %}
