{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Severe_preeclampsia{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Severe Pre-eclampsia</h2>
			 <img src="images/chunked_26.png" class="hm-content-imgright" width="87"/> 
			<p>Signs of severe pre-eclampsia are:</p>
			<ul class="hm-content-noindent">
				<li>160/110 blood pressure.</li>
				<li>Strong headaches.</li>
				<li>Vision changes such as spots, blurriness, or double vision.</li>
				<li>Steady, severe pain in the top of the belly or the right side just under the ribs. </li>
				<li>Swollen face, or swelling all over when she wakes up.</li>
				<li>Seizures.</li>
			</ul>
			
			<div class="hm-content-important clear">If she has high blood pressure and any of these signs, get medical help immediately to save her life. Give magnesium sulfate on the way, and have the woman lie on her left side.</div>
			{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_give_magnesium_sulfate1.html" data-role="button" data-theme="c">How to give magnesium sulfate</a>
				<a href="How_to_take_blood_pressure1.html" data-role="button" data-theme="c">How to take blood pressure</a>
				<a href="Seizures_during_pregnancy.html" data-role="button" data-theme="c">Seizures</a>
				<a href="Her_blood_pressure.html" data-role="button" data-theme="c">Check for pre-eclampsia during pregnancy</a>
			</div>
		{% endblock %}

