{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Severe_abdominal_pain_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Severe abdominal pain in pregnancy</h2>
			<img src="images/chunked_7.png" class="hm-content-imgright" width="35%"/>
			<p>Severe pain in the belly with or without bleeding may mean that the placenta has become separated from the wall of the womb.</p>
			<p>Other signs are: starting contractions early, back or abdominal pain that continues between contractions, or frequent contractions.</p>
	
			<div class="hm-content-important clear">
				This is very dangerous. Get medical help to save the mother and the baby.
			</div>
			<p>Watch the woman for signs of shock and start IV fluids if you know how. </p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="Shock.html" data-role="button" data-theme="c">Signs of shock</a>
				<a href="Bleeding_during_labor.html" data-role="button" data-theme="c">Red blood during labour</a>
			</div>
		{% endblock %}
