{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Shock{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Shock</h2>
			<p>Shock is a life-threatening condition that can result from heavy bleeding. Bleeding inside the body can also cause shock.</p>
			<p class="hm-content-strong">Signs:</p>
			<ul class="hm-content-noindent">
				<li>Very fast heart rate, more than 110 beats a minute</li>
				<li>Pale, cold, damp skin</li>
				<li>Pale inner eyelids, mouth, and palms</li>
				<li>Fast breathing, more than 30 breaths a minute</li>
				<li>Confusion or unconsciousness (fainting)</li>			
			</ul>
			<div class="hm-content-important">If she is unconscious, do not wait for a health worker. Take the woman to a hospital right away. She needs medical help fast.</div>
			
			<h3>How to treat a woman in shock</h3>
			 <img src="images/chunked_9.png" class="hm-content-imgright" width="189"/> 
			<ul class="hm-content-noindent">
				<li>Lay her down with her head to one side. Put something under her legs to make sure her feet are higher than her head. Cover her with a blanket or clothes. Help her to stay calm.</li>
				<li>If she has vomited, be sure her head is low, tilted back and to one side, so she does not breathe vomit into her lungs.</li>
				<li>If she can drink, give her sips of water or rehydration drink. If she cannot drink, start rectal fluids. Or if you know how, start a fast intravenous drip (IV) with a wide needle.</li>
			</ul>
			<p class="clear">If she is unconscious, do not give her anything by mouth - no medicines, drink or food until she has been awake for one hour.</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_help_get_woman_to_hospital.html" rel="external" data-role="button" data-theme="c">What to do on the way to the hospital</a>
				<a href="How_to_give_rectal_fluids1.html" rel="external" data-role="button" data-theme="c">How to give rectal fluids</a>
			</div>
		{% endblock %}
