{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Signs_of_malaria{% endblock %}
		{% block content %}
			<img src="images/new_art_093.png" class="hm-content-imgright" width="30%"/>
			<h2 class="hm-pagetitle">Signs of malaria</h2>
			
			<p>High fever, especially along with shivering, body aches, and severe headache, can be caused by malaria. Malaria is especially dangerous for pregnant women and their babies. The typical malaria attack has 3 stages:</p>
			
			<ol class="hm-content-noindent clear">
				<li>It begins with chills and often 
				headache. She shivers or shakes for 15 minutes 
				to an hour.</li>
				<li>Chills are followed by fever, often 40&deg;C or more. She is weak, flushed (red skin), and at 	times delirious (not in her right mind). The fever lasts several hours or days.</li> 
				<li>Finally she begins to sweat, and her temperature goes down. After an attack, she feels weak, but may feel more or less OK.</li>		
			</ol>
			<p>Malaria attacks usually happen every 2 or 3 days, but they can also happen every day or only once in a while.</p>
		
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_treat_malaria.html" data-role="button" data-theme="c">How to treat malaria</a>
				<a href="How_to_prevent_malaria.html" data-role="button" data-theme="c">How to prevent malaria</a>
				<a href="How_to_take_temperature1.html" data-role="button" data-theme="c">How to take temperature</a>
			</div>
		{% endblock %}
