{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Staying_healthy_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading">Staying Healthy<br>During Pregnancy</h2>
			
			<ul data-role="listview" data-theme="c" class="hm-menu">
				<li><a href="Eating_well_during_pregnancy.html" rel="external"><img src="images/protein-foods.gif"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Eating Well<br>During Pregnancy</span></a></li>
		<!--		<li><img src="images/chunked_30.gif"/><a href="javascript:;" rel="external"><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Things to Avoid<br> During Pregnancy</span></a></li>
				<li><img src="images/chunked_30.gif"/><a href="javascript:;" rel="external"><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Common Complaints<br>During Pregnancy</span></a></li> -->
				<li><a href="Things_to_check_during_pregnancy.html" rel="external"><img src="images/chunked_4.png"/><span class="hm-menu-linkwrapper hm-menu-linkwrapper-doubleline">Things to Check<br> During Pregnancy</span></a></li>
			</ul>
		{% endblock %}
