{% set pagetitle = '<a href="Things_to_check_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Things to check</a>' %}
{% set seq_length = 5 %}
{% set seq_position = 3 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}The_position_of_the_baby{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">The baby's position</h2>
			 <img src="images/chunked_4.png" width="189" class="hm-content-imgright"/> 

			<p>
				<span class="hm-content-strong">Healthy sign:</span> The baby is head down at the time of birth.
			</p>

			<p>
				<span class="hm-content-strong">Warning sign:</span> The baby is breech (feet or bottom down) at the time of birth, or the baby is sideways at the time of birth.
			</p>

			<p>During pregnancy, it is common for a baby to change position several times in the womb. By the end of the pregnancy, the baby should be head down in the womb. This is the safest position for birth. To make sure the baby is head down, check the baby's position.</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="Anemia_during_pregnancy.html" rel="external">Other things to check</a></li>
			</ul>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_check_the_babys_position1.html" data-role="button" data-theme="c">How to check the baby's position</a>
				<a href="Baby_is_lying_sideways.html" data-role="button" data-theme="c">If the baby is sideways</a>
			</div>
		{% endblock %}
