{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Things_to_check_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading hm-content-submenuheading">Things to check<br>during pregnancy</h2>
			
			<ul data-role="listview" class="hm-submenu">
				<li><a href="Her_temperature.html" rel="external">Her temperature</a></li>
				<li><a href="Her_blood_pressure.html" rel="external">Her blood pressure</a></li>
				<li><a href="The_position_of_the_baby.html" rel="external">The position of the baby</a></li>
				<li><a href="Signs_of_kidney_or_bladder_infection" rel="external">Signs of kidney or bladder infection</a></li>
			</ul>
		{% endblock %}
