{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Things_to_avoid_during_pregnancy{% endblock %}
		{% block content %}
			<h2 class="hm-content-menuheading hm-content-submenuheading">Things to avoid<br>during pregnancy</h2>
			
			<ul data-role="listview" data-theme="g" class="hm-submenu">
				<li><a href="People_with_rashes.html" rel="external">People with rashes</a></li>
				<li><a href="Smoking_and_alcohol.html" rel="external">Smoking and alcohol</a></li>
				<li><a href="Chemicals_and_fumes.html" rel="external">Chemicals and fumes</a></li>
				<li><a href="Malaria_during_pregnancy.html" rel="external">Malaria</a></li>
			</ul>
		{% endblock %}
