{% set pagetitle = '<a href="Common_complaints_during_pregnancy.html" rel="external" class="hm-seq-btn" data-role="button" data-theme="g">Common complaints</a>' %}
{% set seq_length = 4 %}
{% set seq_position = 1 %}
{% set seq_llink = "javascript:;" %}		## set rlink equal to next page href
{% set seq_rlink = "javascript:;" %}		## set llink equal to previous page href
{% extends "templates.jinja/base.page-with-sequence.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Tiredness_during_pregnancy{% endblock %}

		{% block content %}
			<h2 class="hm-pagetitle">Tiredness</h2>
			 <img src="images/MW0151A.png" width="290" class="hm-content-imgright"/> 
			<p>Some pregnant women feel tired much of the day. This is most common during the first 3 months.</p>
			<p class="clear">It is normal for pregnant women to feel tired. Their bodies are telling them to slow down and rest. A woman should rest when she can. But if she also feels weak, she may have other problems, like a sickness, depression, or anemia.</p>

		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Anemia_during_pregnancy.html" data-role="button" data-theme="c">Signs of anemia</a>
			</div>
		{% endblock %}
