{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}Too_long_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">Too long labor</h2>
			<img src="images/chunked_15.png" class="hm-content-imgright" width="40%"/>
			<p>If the mother has been in good strong labor for more than 12 hours, or she has been pushing for more than 2 hours without any signs that the baby will be born soon, there may be a problem.</p>
			<h3 class="clear">What to do if the woman is in labor for too long</h3>
			<p>If she is in <span class="hm-content-strong">strong labor</span> (active contractions coming every 2 to 3 minutes and lasting for a minute, and she is getting tired).</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks clear">
				<li><a href="What_to_do_strong_labor.html">What to do (strong labor)</a></li>
			</ul>
			<p>If she is <span class="hm-content-strong">not in strong labor</span> (she can walk around and talk, and her contractions are not coming every 2 to 3 minutes).</p>
			<ul data-role="listview" data-theme="b" data-inset="true" class="hm-content-essentiallinks">
				<li><a href="What_to_do_not_strong_labor.html">What to do (not strong labor)</a></li>
			</ul>			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Water_breaks_no_labor.html" data-role="button" data-theme="c">Waters break but labor has not started</a>
				<a href="Green_or_brown_waters.html" data-role="button" data-theme="c">The waters are green or brown</a>
			</div>
		{% endblock %}
