{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Saving Mothers' Lives{% endblock %}
{% block id %}Water_breaks_no_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">The bag of water breaks, but labor does not start within 12 hours</h2>
			<img src="images/chunked_1.png" class="hm-content-imgright" width="30%"/>
			<p>Most women will give birth within 24 hours after their waters break.  If labor has not started, the woman and her baby could get a serious infection.</p>
			
			<h3>What to do if the water breaks but labor does not start</h3>
			<p>The mother must not put anything in her vagina. This could cause an infection.</p>
			
			<p class="clear">
			Try to get labor started. The woman should roll her nipples or swallow 2 tablespoons of castor oil. If labor still does not start after a few more hours, she should go to a health center or hospital.
			</p>
			
			<p class="hm-content-strong">Do not use injections to start labor. They can cause contractions that are so strong that they can kill the woman or the baby.</p>
			
			<p>If she has a fever or there is a bad smell in the vagina, an infection is starting. Give antibiotics on the way to the hospital: </p>
			
			<p>
			Give 2 g ampicillin by mouth, 4 times a day for 7 to 10 days, AND <br/> 
			Give 400 to 500 mg metronidazole by mouth 3 times a day, for 7 to 10 days.
			</p>
			
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="Too_long_labor.html" data-role="button" data-theme="c">Too long labor</a>
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">How to roll nipples</a>
				<a href="How_to_give_castor_oil1.html" data-role="button" data-theme="c">How to give castor oil</a>
			</div>
		{% endblock %}
