{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}What_to_do_strong_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to strengthen labor</h2>
			<div class="hm-content-important clear">
				Do not use injections to start labor. They can cause contractions that are so strong that they can kill the woman or the baby.
			</div>
			<img src="images/MW0546.png" class="hm-content-imgright" width="130">
			
			<p>First, check the baby's position to make sure he is not sideways.
 				<ul class="hm-content-noindent">
					<li>Have the woman urinate.</li>
					<li>Roll her nipples. Or have a baby nurse.</li>
					<li>Mix about &#188; cup castor oil with some juice and have the mother drink it. This usually causes painful diarrhea and cramps, but it may also strengthen contractions.</li>
                	<li>If she has been pushing for a long time, have her change positions. She can try squatting, getting on her hands and knees, or sitting against a pillow with her knees up.</li>
				</ul>

			<div class="hm-content-important clear">
				If the baby is still not coming, get medical help. Medication or surgery may be needed.
			</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_check_baby_position1.html" data-role="button" data-theme="c">Check the baby's position</a>
				<a href="Baby_is_lying_sideways.html" data-role="button" data-theme="c">If the baby is sideways</a>
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">How to roll nipples</a>
				<a href="How_to_give_castor_oil1.html" data-role="button" data-theme="c">How to give castor oil</a>
			</div>
		{% endblock %}
