{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}What_to_do_not_strong_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">How to start labor</h2>

			<p>If the woman's contractions are not coming every 2 or 3 minutes and lasting for a full minute, she may not be in strong labor yet.</p><img src="images/PRE49.png" class="hm-content-imgright" width="30%">

			<p>Encourage her to sleep. If she cannot sleep, you can try to start labor. Start with the first method and if it does not work, try the next:
				<ol class="hm-content-noindent">
					<li>Have her walk, dance, climb stairs or hills.</li>
					<li>Roll her nipples as if milking the breasts. Or have a baby nurse. This should bring some contractions.</li>
					<li>Mix about &#188; cup castor oil with some juice and have the mother drink it. This usually causes painful diarrhea and cramps, but it may also start contractions.</li>
				</ol>
				Encourage her to drink and eat light foods.
			</p>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">How to roll nipples</a>
				<a href="How_to_give_castor_oil1.html" data-role="button" data-theme="c">How to give castor oil</a>
				<a href="Water_breaks_no_labor.html" data-role="button" data-theme="c">Water breaks but labor has not started</a>
			</div>
		{% endblock %}
