{% extends "templates.jinja/base.page-with-navbar.html" %}
{% block title %} Hesperian - Pregnancy &amp; Birth{% endblock %}
{% block id %}What_to_do_strong_labor{% endblock %}
		{% block content %}
			<h2 class="hm-pagetitle">What to do if strong labor has gone on too long</h2>
			<img src="images/MW0546.png" class="hm-content-imgright" width="45%"/>
			<p>If she is in strong labor with active contractions or is getting tired, do these things:</p>
			<ol class="hm-content-noindent">
				<li>Check the baby's position to make sure the baby is not sideways.</li>
				<li>Have the woman urinate.</li>
				<li>Try to get labor started. The woman should roll her nipples or swallow 2 tablespoons of castor oil. If labor still does not start after a few more hours, she should go to a health center or hospital. </li>	
			</ol>
			<div class="hm-content-important clear">If these don't help to start labor get help.</div>
		{% endblock %}
		{% block footer %}
			<div class="hm-content-relatedlinks">
				<span class="hm-content-strong">Related information:</span>	
				<a href="How_to_check_the_babys_position1.html" data-role="button" data-theme="c">Check the baby's position</a>
				<a href="How_to_roll_nipples.html" data-role="button" data-theme="c">How to roll nipples</a>
				<a href="How_to_give_castor_oil1.html" data-role="button" data-theme="c">How to give castor oil</a>
				<a href="Water_breaks_no_labor.html" data-role="button" data-theme="c">Water breaks but labor has not started</a>
			</div>
		{% endblock %}
