<head>
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=1, user-scalable=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-startup-image" href="images/loading.png" />
	<link rel="apple-touch-icon" href="images/icon.png"/>
    <title>{% block title %}El embarazo y el parto seguros{% endblock %}</title>
	
	<link rel="stylesheet" href="hesperian_mobile.css" />
	<script type="text/javascript" src="phonegap.js"></script>
	<script src="hesperian_mobile.js"></script>
	{% endblock %}
</head>
